---
import Layout from "../../layouts/Layout.astro";

interface Ketentuan {
  src: string;
  title?: string;
  list: string[];
}

const peralatan: Ketentuan = {
  src: "/images/peralatan.webp",
  title: "Peralatan yang harus dibawa",
  list: [
    "ID Card yang telah disediakan.",
    "Alat tulis (pena, pensil, buku catatan).",
    "Air minum pribadi.",
    "Payung, Ponco atau jas hujan.",
    "Obat-obatan pribadi.",
    "Alat sholat (mukena, sajadah, dan perlengkapan sholat lainnya).",
    "Botol 1,5 liter berisi air untuk berwudhu.",
    "Sandal",
  ],
};
---

<Layout
  title="Attribut"
  addClass="bg-[url('/images/patterns/batik.svg')] bg-size"
>
  <section class="py-32 section-padding-x min-h-[100vh]">
    <div class="text-center md:text-left mb-4">
      <h1 class="text-3xl lg:text-4xl text-gray-800 font-love animate-fade-down animate-once animate-duration-[600ms] animate-delay-100 animate-ease-in-out">
        Peralatan yang harus dibawa <br />
        Gensoed 2024
      </h1>
    </div>
    <div class="flex flex-col-reverse md:flex-row gap-4">
      <div class="max-w-md mx-auto md:mx-0 animate-fade-right animate-once animate-duration-[800ms] animate-delay-200 animate-ease-in-out">
        <h2 class="font-heading text-lg md:text-xl lg:text-2xl">
          {peralatan.title}
        </h2>
        <ul class="ps-2">
          {
            peralatan.list.map((e) => (
              <li class=".normal-font-size list-inside list-decimal">{e}</li>
            ))
          }
        </ul>
      </div>
      <div class="max-w-md xl:max-w-2xl mx-auto animate-fade-left animate-once animate-duration-[800ms] animate-delay-100 animate-ease-in-out">
        <img
          src={peralatan.src}
          alt={"photo" + peralatan.title}
          class="w-full rounded-md"
        />
      </div>
    </div>
    <!--  -->
  </section>
</Layout>
