---
import InfoGensoedCard from "../../components/InfoGensoedCard.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Info Gensoed">
  <section
    id="hero"
    class="pb-16 pt-28 section-padding-x text-dark-base bg-white-base bg-[url('/images/patterns/batik.svg')] bg-size"
  >
    <div class="container max-w-screen-xl">
      <div class="w-full flex flex-col gap-4">
        <article class="text-center">
          <h1 class="header-font-size font-heading">Info Gensoed</h1>
        </article>
        <div class="flex gap-4 md:gap-8 justify-center">
          <div
            class="flex flex-col gap-4 md:gap-8 w-full md:items-end lg:flex-row lg:items-start lg:justify-end"
          >
            <InfoGensoedCard
              title="Twibbon"
              img="/images/icons/general/twibbon.png"
              href="/coming-soon"
              extraClass="animate-downUp"
            />
            <InfoGensoedCard
              title="Dresscode"
              img="/images/icons/general/dresscode.png"
              href="/coming-soon"
              extraClass="animate-downUp lg:mt-12 lg:animate-upDown"
            />
          </div>
          <div
            class="flex flex-col gap-4 pt-12 md:gap-8 w-full lg:flex-row lg:pt-0"
          >
            <InfoGensoedCard
              title="Perlengkapan"
              img="/images/icons/general/equipment.png"
              href="/coming-soon"
              extraClass="animate-upDown lg:animate-downUp"
            />
            <InfoGensoedCard
              title="Lainnya"
              img="/images/icons/general/other.png"
              href="/coming-soon"
              extraClass="animate-upDown lg:mt-12"
            />
          </div>
        </div>
        <p class="text-justify md:text-center text-sm md:text-base lg:text-lg">
          Dikasih tulisan apa kek, deskripsi atau mempersuasi sesuatu kek, biar
          keliatan lebih rame aja. Terkadang, hanya sekadar teks polos itu
          membosankan dan tidak menarik. Dengan menambahkan sedikit detail atau
          bumbu kata, kita bisa membuat tulisan yang lebih hidup dan berwarna.
          Misalnya, saat kita mendeskripsikan sesuatu, jangan hanya berfokus
          pada fakta-fakta datar. Sertakan juga emosi, perasaan, dan bayangan
          yang dapat membuat pembaca merasa terlibat dan tertarik. Ketika kita
          mencoba mempersuasi seseorang, kita harus menggunakan bahasa yang kuat
          dan memikat, memberikan alasan yang logis serta menyentuh hati
          pembaca, sehingga mereka merasa tergerak dan mau mengikuti apa yang
          kita sarankan.
        </p>
      </div>
    </div>
  </section>
</Layout>

<style>
  .bg-size {
    background-size: 128px;
  }
</style>
