---
import BatirCard from "../../components/BatirCard.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Batir Gensoed">
    <section class="w-full flex justify-center py-32 px-6">
        <div class="container max-w-7xl flex flex-col gap-12">
            <article class="text-center flex flex-col gap-4">
                <h1 class="text-[28px] lg:text-4xl font-love text-gray-800">
                    INFO GENSOED
                </h1>
            </article>
            <div class="flex gap-4 md:gap-8 justify-center">
                <div
                    class="flex flex-col gap-4 md:gap-8 w-full md:items-end lg:flex-row lg:items-start lg:justify-end"
                >
                    <BatirCard
                        title="TWIBBON"
                        img="/images/cartoon/1.jpg"
                        href="/comingsoon"
                        extraClass="animate-downUp"
                    />
                    <BatirCard
                        title="DRESSCODE"
                        img="/images/cartoon/2.jpg"
                        href="/comingsoon"
                        extraClass="animate-downUp lg:mt-12 lg:animate-upDown"
                    />
                </div>
                <div
                    class="flex flex-col gap-4 pt-12 md:gap-8 w-full lg:flex-row lg:pt-0"
                >
                    <BatirCard
                        title="ATTRIBUT"
                        img="/images/cartoon/3.jpg"
                        href="/comingsoon"
                        extraClass="animate-upDown lg:animate-downUp"
                    />
                    <BatirCard
                        title="LAINYA"
                        img="/images/cartoon/4.jpg"
                        href="/comingsoon"
                        extraClass="animate-upDown lg:mt-12"
                    />
                </div>
            </div>
            <p class="text-center text-base text-gray-600">
                Dikasih tulisan apa kek, deskripsi atau mempersuasi sesuatu kek,
                biar keliatan lebih rame aja. Terkadang, hanya sekadar teks
                polos itu membosankan dan tidak menarik. Dengan menambahkan
                sedikit detail atau bumbu kata, kita bisa membuat tulisan yang
                lebih hidup dan berwarna. Misalnya, saat kita mendeskripsikan
                sesuatu, jangan hanya berfokus pada fakta-fakta datar. Sertakan
                juga emosi, perasaan, dan bayangan yang dapat membuat pembaca
                merasa terlibat dan tertarik. Ketika kita mencoba mempersuasi
                seseorang, kita harus menggunakan bahasa yang kuat dan memikat,
                memberikan alasan yang logis serta menyentuh hati pembaca,
                sehingga mereka merasa tergerak dan mau mengikuti apa yang kita
                sarankan.
            </p>
        </div>
    </section>
</Layout>
