<section
  id="hero"
  class="relative bg-[url('/images/credit-hero.webp')] section-padding-x pt-56 pb-64 md:pt-64 md:pb-72 bg-cover"
>
  <div class="container max-w-screen-xl text-center text-white-base">
    <p class="normal-font-size">
      Selamat Para Pejuang Gensoed Kamu Telah Menamatkan
    </p>
    <h1 class="font-black header-font-size font-heading">
      Soedirman Student Summit <br /> 2024
    </h1>
  </div>
</section>
