---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Penugasan"
  addClass="bg-[url('/images/patterns/batik.svg')] bg-size "
>
  <section
    id="hero"
    class="pt-32 pb-16 section-padding-x text-dark-base min-h-[70vh]"
  >
    <div class="container max-w-screen-xl">
      <h1
        class="mb-8 font-heading header-font-size text-center"
        data-aos="slide-down"
        data-aos-duration="400"
        data-aos-delay=""
        data-aos-easing="ease-in-out"
        data-aos-offset="0"
        data-aos-once="true"
      >
        INFO PENUGASAN
      </h1>
      <div
        class="flex flex-col md:flex-row justify-center items-center md:gap-8 gap-4"
      >
        <div
          class="flex flex-col justify-center md:max-w-md"
          data-aos="fade-right"
          data-aos-duration="400"
          data-aos-delay="100"
          data-aos-easing="ease-in-out"
          data-aos-offset="0"
          data-aos-once="true"
        >
          <div
            class="flex flex-col h-full shadow justify-between rounded-lg pb-8 p-6 xl:p-8 bg-white"
          >
            <div>
              <h2
                class="font-bold text-2xl md:text-3xl lg:text-4xl font-heading"
              >
                SNBP & SNBT
              </h2>
              <div class="my-4 normal-font-size">
                <p>Info terkait penugasan bagi Gensoed jalur SNBP dan SNBT</p>
              </div>
            </div>
            <div>
              <a
                class="text-dark-base font-semibold rounded-md inline-flex items-center md:mb-2 lg:mb-0 text-xs sm:text-sm md:text-base hover:before:bg-redborder-red-500 relative overflow-hidden border border-dark-base bg-white px-4 py-1 shadow-2xl transition-all before:absolute before:bottom-0 before:left-0 before:top-0 before:z-0 before:h-full before:w-0 before:bg-blue-base before:transition-all before:duration-500 hover:border-blue-base hover:text-white-base hover:before:left-0 hover:before:w-full"
                href="/penugasan/snbp-snbt#hero"
              >
                <span class="relative z-10">Cek Penugasan</span>
                <svg
                  class="w-4 h-4 ml-2 relative z-10"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div
          class="flex flex-col justify-center md:max-w-md"
          data-aos="fade-left"
          data-aos-duration="400"
          data-aos-delay="100"
          data-aos-easing="ease-in-out"
          data-aos-offset="0"
          data-aos-once="true"
        >
          <div
            class="flex flex-col h-full shadow justify-between rounded-lg pb-8 p-6 xl:p-8 bg-white"
          >
            <div>
              <h2
                class="font-bold text-2xl md:text-3xl lg:text-4xl font-heading"
              >
                Mandiri
              </h2>
              <div class="my-4 normal-font-size">
                <p>Info terkait penugasan bagi Gensoed jalur Mandiri</p>
              </div>
            </div>
            <div>
              <a
                class="text-dark-base font-semibold rounded-md inline-flex items-center md:mb-2 lg:mb-0 text-xs sm:text-sm md:text-base hover:before:bg-redborder-red-500 relative overflow-hidden border border-dark-base bg-white px-4 py-1 shadow-2xl transition-all before:absolute before:bottom-0 before:left-0 before:top-0 before:z-0 before:h-full before:w-0 before:bg-blue-base before:transition-all before:duration-500 hover:border-blue-base hover:text-white-base hover:before:left-0 hover:before:w-full"
                href="/coming-soon"
                id="penugasanMandiri"
              >
                <span class="relative z-10">Cek Penugasan</span>
                <svg
                  class="w-4 h-4 ml-2 relative z-10"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const toBeAnnounced = document.getElementById(
      "penugasanMandiri"
    ) as HTMLAnchorElement;

    function checkDate() {
      // Target date for the announcement
      const targetDate = new Date("2024-08-06T15:00:00");
      // Current date
      const currentDate = new Date();
      // Checking if the current date is greater than or equal to the target date
      if (currentDate >= targetDate) {
        toBeAnnounced.href = "/penugasan/mandiri#hero";
      }
    }

    checkDate();
  });
</script>
