---
interface Props {
  title: string;
  faqs: { question: string; answer: string }[];
}

const { title, faqs } = Astro.props;
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const items = document.querySelectorAll(".faq-item");
    items.forEach((item) => {
      const question = item.querySelector(".faq-question");
      const answer = item.querySelector<HTMLDivElement>(".faq-answer");
      const icon = item.querySelector(".arrow-down");
      if (question && answer && icon) {
        question.addEventListener("click", () => {
          question.setAttribute(
            "aria-expanded",
            question.getAttribute("aria-expanded") === "false"
              ? "true"
              : "false"
          );

          answer.style.maxHeight =
            question.getAttribute("aria-expanded") === "true"
              ? answer.scrollHeight + "px"
              : "0";

          if (question.getAttribute("aria-expanded") === "true") {
            icon.classList.toggle("-rotate-180");
          } else {
            icon.classList.toggle("-rotate-180");
          }
        });
      }
    });
  });
</script>

<div
  class="flex flex-col md:flex-row gap-4 sm:gap-8 md:gap-12 mb-6 md:mb-8 lg:mb-12"
>
  <div class="flex flex-col text-left basis-1/2"
  data-aos="fade-right"
  data-aos-duration="400"
  data-aos-delay="100"
  data-aos-easing="ease-out"
  data-aos-offset="0"
  data-aos-once="true"
  >
    <h2
      class="sub-header-font-size font-extrabold text-base-content md:border-t-4 font-heading border-dark-base md:pt-4"
    >
      {title}
    </h2>
  </div>
  <ul class="basis-1/2"
  data-aos="fade-left"
  data-aos-duration="400"
  data-aos-delay="100"
  data-aos-easing="ease-out"
  data-aos-offset="0"
  data-aos-once="true"
  >
    {
      faqs.map((faq) => (
        <li class="faq-item normal-font-size">
          <button
            class="faq-question relative flex gap-2 items-center w-full py-5 font-semibold border-dark-base text-left border-t  border-base-content/10"
            aria-expanded="false"
          >
            <span class="flex-1 text-base-content">{faq.question}</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="arrow-down flex-shrink-0 w-4 h-4 ml-auto fill-current transition duration-200 ease-out"><!--! Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2024 Fonticons, Inc. --><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
          </button>
          <div class="faq-answer transition-all duration-300 ease-in-out max-h-0 overflow-hidden ">
            <div class="pb-5 leading-relaxed">
              <div class="space-y-2 leading-relaxed">{faq.answer}</div>
            </div>
          </div>
        </li>
      ))
    }
  </ul>
</div>
