---
const email: string[] = [
  "hello@loopple.com",
  "unsoed@mhs.unsoed.ac.id",
  "unsoed@mhs.unsoed.ac.id",
];
const instagram: { name: string; link: string }[] = [
  {
    name: "@soedirmanstudentsummit",
    link: "https://www.instagram.com/soedirmanstudentsummit",
  },
  {
    name: "@batir_unsoed",
    link: "https://www.instagram.com/batir_unsoed",
  },
  {
    name: "@bem_unsoed",
    link: "https://www.instagram.com/bem_unsoed",
  },
];
---

<section
  id="reach-us"
  class="pt-32 pb-16 section-padding-x text-dark-base m-auto"
>
  <div class="container max-w-screen-xl">
    <div class="w-full">
      <div class="max-w-2xl mx-auto text-center mb-8">
        <h2
          class="font-bold capitalize text-dark header-font-size mb-4 font-heading"
        >
          Punya pertanyaan atau butuh bantuan?
        </h2>
        <p class="font-medium normal-font-size text-secondary">
          Jangan ragu untuk chat dengan kami! Tim kami siap membantu kamu kapan
          saja melalui telepon, email, atau chat langsung. Yuk, hubungi kami dan
          rasakan layanan terbaik dari kami.
        </p>
      </div>
    </div>
    <div class="w-full flex gap-10">
      <div class="flex flex-col mx-auto">
        <div
          class="flex flex-col md:flex-row justify-center gap-5 max-w-xl mx-auto"
        >
          <div
            class="flex flex-col items-center px-4 py-6 md:py-10 bg-white justify-center rounded-xl"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              class="text-yellow-base w-10 md:w-12 mb-3"
              fill="currentColor"
              ><!--! Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2024 Fonticons, Inc. -->
              <path
                d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"
              ></path></svg
            >
              <p class="text-xl md:text-2xl font-extrabold">Email</p>
              <p class="text-base mb-2">Hubungi kami lewat</p>
              <div class="flex flex-col gap-1">
                {
                  email.map((mail, index) => (
                    <span class="flex items-center font-semibold justify-start text-slate-700 normal-font-size hover:text-yellow-base hover:underline transition-all duration-300">
                      <svg
                        class="w-4 h-4 mr-1 mt-1"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z"
                          clip-rule="evenodd"
                        />
                      </svg>
                      <a href=`{mailto: ${mail}}` target="_blank">
                        {mail}
                      </a>
                    </span>
                  ))
                }
            </div>
          </div>
          <div
            class="flex items-center flex-col px-4 py-6 md:py-4 bg-white justify-center rounded-xl"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
              class="text-yellow-base w-10 md:w-12 mb-3 md:mb-0"
              fill="currentColor"
              ><!--! Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2024 Fonticons, Inc. -->
              <path
                d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
              ></path></svg
            >
              <p class="text-xl md:text-2xl font-extrabold">Instagram</p>
              <p class="text-base mb-2">Temui kami lewat</p>
              <div class="flex flex-col gap-1">
                {
                  instagram.map((user, index) => (
                    <a
                      href=`{mailto: ${user.link}}`
                      target="_blank"
                      class="text-slate-700 normal-font-size font-semibold hover:text-yellow-base hover:underline transition-all duration-300"
                    >
                      {user.name}
                    </a>
                  ))
                }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>