---
import LogoCard from "./LogoCard.astro";
---

<section
  id="logo"
  class="pb-16 text-dark-base bg-white-base section-padding-x pt-8"
>
  <div class="container max-w-screen-xl flex flex-col items-center">
    <div class="w-full">
      <div class="max-w-2xl mx-auto text-center">
        <!-- Title -->
        <h2 class="font-semibold text-primary header-font-size font-heading">
          Filosofi Logo
        </h2>
      </div>
    </div>
    <div class="w-full">
      <!-- Logo Description -->
      <LogoCard />
    </div>
  </div>
</section>
