---
const logos = [
  {
    title: "Aksara",
    desc: "Angka 2024 ditengah badan kupu-kupu ditulis dalam aksara jawa merepresentasikan tahun diadakannya Soedirman Student Summit.",
    img: "/images/logoParts/aksara.webp",
  },
  {
    title: "Batik Lumbon",
    desc: "Corak Batik Lumbon Banyumas pada sayap kupu-kupu merupakan identitas daerah Kabupaten Banyumas yang merupakan tempat Universitas Jenderal Soedirman berada. Dalam filosofinya Batik Lumbon melambangkan sifat masyarakat yang mampu beradaptasi dan bergaul dengan siapa saja, tanpa membeda-bedakan satu sama lain. ",
    img: "/images/logoParts/batik-lumbon.webp",
  },
  {
    title: "Kupu-kupu",
    desc: "Hewan yang melambangkan transformasi, kebebasan, dan perjuangan hidup. Siklus hidup kupu-kupu atau yang biasa disebut metamorfosis juga menggambarkan perubahan dan pertumbuhan dalam setiap insan.",
    img: "/images/logoParts/logo.webp",
  },
  {
    title: "Kelopak Sayap",
    desc: "Kelopak sayap melambangkan 4 wilayah kampus universitas jenderal soedirman, dimana kampus utama terletak pada Jl. Profesor DR. HR Boenyamin, kampus kedua terletak di Jl. DR. Soeparno, kampus ketiga terletak di Jl. Dr. Gumbreng No. 1, dan kampus keempat terletak di Jl. Raya Mayjen Sungkono.  ",
    img: "/images/logoParts/kelopak-sayap.webp",
  },
  {
    title: "Mahkota",
    desc: "Mahkota kupu-kupu berbentuk puncak menara teratai yang merepresentasikan ikon Banyumas sebagai tempat berdirinya Universitas Jenderal Soedirman. Bunga teratai  mempresentasikan bahwa rintangan bukanlah suatu penghalang, hidup hanyalah sementara, dan berbuat baik tanpa pamrih. ",
    img: "/images/logoParts/mahkota.webp",
  },
  {
    title: "Saraf",
    desc: "12 bagian pembuluh sayap menggambarkan 12 fakultas yakni fakultas ekonomi dan bisnis, fakultas hukum, fakultas ilmu sosial dan ilmu politik, fakultas pertanian, fakultas peternakan, fakultas ilmu-ilmu kesehatan, fakultas perikanan dan ilmu kelautan, fakultas kedokteran, fakultas teknik, fakultas ilmu budaya, fakultas matematika dan IPA dan fakultas biologi yang ada di Universitas Jenderal Soedirman ",
    img: "/images/logoParts/saraf.webp",
  },
];
---

<div class="swiper logo-swiper overflow-visible">
  <div class="swiper-wrapper">
    {
      logos.map((logo, index) => (
        <div class="swiper-slide">
          <img src={logo.img} alt={logo.title} />
        </div>
      ))
    }
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>
<div class="max-w-screen-md m-auto text-center">
  <h3 class="text-primary mb-2 sub-header-font-size logo-title font-heading">
    Kupu-kupu
  </h3>
  <p class="logo-description normal-font-size">
    Hewan yang melambangkan transformasi, kebebasan, dan perjuangan hidup.
    Siklus hidup kupu-kupu atau yang biasa disebut metamorfosis juga
    menggambarkan perubahan dan pertumbuhan dalam setiap insan.
  </p>
</div>

<style>
  .swipper {
    width: 100%;
    /* padding: 50px 0; */
  }

  .swiper-slide {
    position: relative;
    width: 320px;
    aspect-ratio: 1;
    border-radius: 14px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    user-select: none;
  }
</style>

<script type="module">
  import Swiper from "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs";

  const logos = [
    {
      title: "Aksara",
      desc: "Angka 2024 ditengah badan kupu-kupu ditulis dalam aksara jawa merepresentasikan tahun diadakannya Soedirman Student Summit.",
      img: "/images/logoParts/aksara.webp",
    },
    {
      title: "Batik Lumbon",
      desc: "Corak Batik Lumbon Banyumas pada sayap kupu-kupu merupakan identitas daerah Kabupaten Banyumas yang merupakan tempat Universitas Jenderal Soedirman berada. Dalam filosofinya Batik Lumbon melambangkan sifat masyarakat yang mampu beradaptasi dan bergaul dengan siapa saja, tanpa membeda-bedakan satu sama lain. ",
      img: "/images/logoParts/batik-lumbon.webp",
    },
    {
      title: "Kupu-kupu",
      desc: "Hewan yang melambangkan transformasi, kebebasan, dan perjuangan hidup. Siklus hidup kupu-kupu atau yang biasa disebut metamorfosis juga menggambarkan perubahan dan pertumbuhan dalam setiap insan.",
      img: "/images/logoParts/logo.webp",
    },
    {
      title: "Kelopak Sayap",
      desc: "Kelopak sayap melambangkan 4 wilayah kampus universitas jenderal soedirman, dimana kampus utama terletak pada Jl. Profesor DR. HR Boenyamin, kampus kedua terletak di Jl. DR. Soeparno, kampus ketiga terletak di Jl. Dr. Gumbreng No. 1, dan kampus keempat terletak di Jl. Raya Mayjen Sungkono.  ",
      img: "/images/logoParts/kelopak-sayap.webp",
    },
    {
      title: "Mahkota",
      desc: "Mahkota kupu-kupu berbentuk puncak menara teratai yang merepresentasikan ikon Banyumas sebagai tempat berdirinya Universitas Jenderal Soedirman. Bunga teratai  mempresentasikan bahwa rintangan bukanlah suatu penghalang, hidup hanyalah sementara, dan berbuat baik tanpa pamrih. ",
      img: "/images/logoParts/mahkota.webp",
    },
    {
      title: "Saraf",
      desc: "12 bagian pembuluh sayap menggambarkan 12 fakultas yakni fakultas ekonomi dan bisnis, fakultas hukum, fakultas ilmu sosial dan ilmu politik, fakultas pertanian, fakultas peternakan, fakultas ilmu-ilmu kesehatan, fakultas perikanan dan ilmu kelautan, fakultas kedokteran, fakultas teknik, fakultas ilmu budaya, fakultas matematika dan IPA dan fakultas biologi yang ada di Universitas Jenderal Soedirman ",
      img: "/images/logoParts/saraf.webp",
    },
  ];

  const logoSwiper = new Swiper(".logo-swiper", {
    effect: "creative",
    grabCursor: true,
    centeredSlides: true,
    initialSlide: 2,
    speed: 600,
    preventClicks: true,
    slidesPerView: 1,
    breakpoints: {
      640: {
        slidesPerView: 2,
      },
      1024: {
        slidesPerView: 3,
      },
    },
    creativeEffect: {
      perspective: true,
      prev: {
        shadow: false,
        translate: ["-175px", "20%", -200],
        origin: "bottom",
      },
      next: {
        shadow: false,
        translate: ["175px", "20%", -200],
        origin: "bottom",
      },
      limitProgress: 2,
      progressMultiplier: 2,
    },
    pagination: {
      el: ".swiper-pagination",
      dynamicBullets: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    on: {
      click(event) {
        this.slideTo(this.clickedIndex);
      },
      slideChange() {
        const activeIndex = this.realIndex;
        const logoTitle = document.querySelector(".logo-title");
        const logoDescription = document.querySelector(".logo-description");

        logoTitle.style.display = "block";
        logoDescription.style.display = "block";

        logoTitle.innerText = logos[activeIndex].title;
        logoDescription.innerText = logos[activeIndex].desc;

        // Add fade-in animation
        logoTitle.style.opacity = "1";
        logoDescription.style.opacity = "1";
      },
    },
  });
</script>
