---
import LogoCard from "./LogoCard.astro";
---

<section id="logo" class="pt-24 pb-16 text-dark-base max-w-5xl m-auto">
  <div class="container flex flex-col gap-16 items-center">
    <div class="w-full px-4">
      <div class="max-w-2xl mx-auto text-center">
        <h2
          class="font-semibold text-primary mb-2 text-2xl md:text-3xl lg:text-4xl font-heading"
        >
          Filosofi Logo
        </h2>
        <h2
          class="font-bold capitalize text-dark text-3xl mb-4 m:text-4xl lg:text-5xl font-heading"
        >
          Soedirman Student Summit
        </h2>
      </div>
    </div>
    <div class="w-full px-4">
      <LogoCard />
    </div>
  </div>
</section>
