---
const logos = [
  {
    title: "Aksara",
    desc: "Jelajahi dunia baru dengan Gemini, model bahasa yang siap menjawab pertanyaan Anda dan membantu menyelesaikan berbagai tugas.",
    img: "/images/logoParts/aksara.png",
  },
  {
    title: "Batik Lumbon",
    desc: "Akses informasi dan wawasan luas, dapatkan jawaban informatif, dan ciptakan berbagai format teks kreatif dengan Gemini.",
    img: "/images/logoParts/batik-lumbon.png",
  },
  {
    title: "Soedirman Student Summit 2024",
    desc: "Temukan informasi, dapatkan jawaban, dan ciptakan konten kreatif dengan Gemini, model bahasa besar dari Google.",
    img: "/images/logoParts/logo.png",
  },
  {
    title: "Mahkota",
    desc: "Gemini, model bahasa besar dari Google, siap membantu Anda menjelajahi dunia digital dengan penuh informasi dan kreativitas.",
    img: "/images/logoParts/mahkota.png",
  },
  {
    title: "Saraf",
    desc: "Temukan jawaban, ciptakan konten, dan pelajari hal baru dengan Gemini, model bahasa yang terus berkembang dan belajar.",
    img: "/images/logoParts/saraf.png",
  },
];
---

<div class="swiper logo-swiper pb-[128px]">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    {
      logos.map((logo, index) => (
        <div class="swiper-slide">
          <img src={logo.img} alt={logo.title} />
        </div>
      ))
    }
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>
<div class="max-w-2xl mx-auto text-center mt-8">
  <h3
    class="font-semibold text-primary mb-2 text-lg md:text-xl lg:text-2xl logo-title font-heading"
  >
    Soedirman Student Summit 2024
  </h3>
  <p class="logo-description">
    Temukan informasi, dapatkan jawaban, dan ciptakan konten kreatif dengan
    Gemini, model bahasa besar dari Google.
  </p>
</div>

<style>
  .swipper {
    width: 100%;
    padding: 50px 0;
  }

  .swiper-slide {
    position: relative;
    width: 320px;
    aspect-ratio: 1;
    border-radius: 14px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    user-select: none;
  }
</style>

<script type="module">
  import Swiper from "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs";

  const logos = [
    {
      title: "Aksara",
      desc: "Jelajahi dunia baru dengan Gemini, model bahasa yang siap menjawab pertanyaan Anda dan membantu menyelesaikan berbagai tugas.",
      img: "/images/logoParts/aksara.png",
    },
    {
      title: "Batik Lumbon",
      desc: "Akses informasi dan wawasan luas, dapatkan jawaban informatif, dan ciptakan berbagai format teks kreatif dengan Gemini.",
      img: "/images/logoParts/batik-lumbon.png",
    },
    {
      title: "Soedirman Student Summit 2024",
      desc: "Temukan informasi, dapatkan jawaban, dan ciptakan konten kreatif dengan Gemini, model bahasa besar dari Google.",
      img: "/images/logoParts/logo.png",
    },
    {
      title: "Mahkota",
      desc: "Gemini, model bahasa besar dari Google, siap membantu Anda menjelajahi dunia digital dengan penuh informasi dan kreativitas.",
      img: "/images/logoParts/mahkota.png",
    },
    {
      title: "Saraf",
      desc: "Temukan jawaban, ciptakan konten, dan pelajari hal baru dengan Gemini, model bahasa yang terus berkembang dan belajar.",
      img: "/images/logoParts/saraf.png",
    },
  ];

  const logoSwiper = new Swiper(".logo-swiper", {
    effect: "creative",
    grabCursor: true,
    centeredSlides: true,
    initialSlide: 2,
    speed: 600,
    preventClicks: true,
    slidesPerView: 1,
    breakpoints: {
      640: {
        slidesPerView: 2,
      },
      1024: {
        slidesPerView: 3,
      },
    },
    creativeEffect: {
      perspective: true,
      prev: {
        shadow: false,
        translate: ["-175px", "20%", -200],
        origin: "bottom",
      },
      next: {
        shadow: false,
        translate: ["175px", "20%", -200],
        origin: "bottom",
      },
      limitProgress: 2,
      progressMultiplier: 2,
    },
    pagination: {
      el: ".swiper-pagination",
      dynamicBullets: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    on: {
      click(event) {
        this.slideTo(this.clickedIndex);
      },
      slideChange() {
        const activeIndex = this.realIndex;
        const logoTitle = document.querySelector(".logo-title");
        const logoDescription = document.querySelector(".logo-description");

        logoTitle.style.display = "block";
        logoDescription.style.display = "block";

        logoTitle.innerText = logos[activeIndex].title;
        logoDescription.innerText = logos[activeIndex].desc;

        // Add fade-in animation
        logoTitle.style.opacity = "1";
        logoDescription.style.opacity = "1";
      },
    },
  });
</script>
