<section
  class="relative bg-[url(https://cdn.antaranews.com/cache/1200x800/2024/02/23/Fakultas-Teknik-Unsoed.jpeg)] bg-cover bg-center bg-no-repeat"
  id="hero-about"
>
  <div
    class="absolute inset-0 bg-transparent from-white-base/20 to-dark-base/100 bg-gradient-to-b"
  >
  </div>
  <div class="relative mx-auto max-w-screen-xl flex h-screen items-center">
    <div class="max-w-2xl text-white-base text-center sm:text-left px-4 py-32">
      <h1
        class="font-heading font-extrabold mb-2 md:mb-4 text-3xl sm:text-4xl lg:text-5xl"
      >
        Universitas Jenderal Soedirman
      </h1>
      <p class="text-sm sm:text-base">
        Universitas Jenderal Soedirman (Unsoed) adalah institusi pendidikan
        unggulan di Purwokerto yang memadukan inovasi teknologi dan komitmen
        lingkungan dalam setiap aspek pendidikan. Dengan kampus hijau yang
        modern dan beragam program studi, Unsoed siap mencetak lulusan yang
        kreatif dan kompetitif di era digital. Temukan peluang akademis dan
        profesional yang menarik di Unsoed, pusat pendidikan yang berorientasi
        masa depan!
      </p>
    </div>
  </div>
</section>
