<section
  class="relative bg-[url('/images/backgrounds/patung-kuda-halaman-rektor.webp')] bg-cover bg-center bg-no-repeat"
  id="hero-about"
>
  <div
    class="absolute inset-0 bg-transparent from-white-base/20 to-dark-base/100 bg-gradient-to-b"
  >
  </div>
  <div
    class="relative mx-auto px-6 sm:px-8 md:px-12 xl:px-0 max-w-screen-xl flex h-screen items-center"
  >
    <div class="max-w-2xl text-white-base text-center sm:text-left py-32">
      <h1 class="font-heading font-extrabold mb-2 md:mb-4 header-font-size">
        Universitas Jenderal Soedirman
      </h1>
      <p class="normal-font-size">
        Universitas Jenderal Soedirman (Unsoed) adalah institusi pendidikan
        unggulan di Purwokerto yang memadukan inovasi teknologi dan komitmen
        lingkungan dalam setiap aspek pendidikan. Dengan kampus hijau yang
        modern dan beragam program studi, Unsoed siap mencetak lulusan yang
        kreatif dan kompetitif di era digital. Temukan peluang akademis dan
        profesional yang menarik di Unsoed, pusat pendidikan yang berorientasi
        masa depan!
      </p>
    </div>
  </div>
</section>
