---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Page Not Found">
  <section id="home" class="pt-36 bg-gradient-to-b to-cyan-500 from-blue-500">
    <div class="flex justify-center relative py-24">
      <div
        class="max-w-xl lg:max-w-3xl absolute -bottom-24 md:-bottom-24 lg:-bottom-52"
      >
        <img
          src="/images/elements/kucing-404.svg"
          alt="Kucing error"
          class="w-full lg:w-[500px] drop-shadow-3xl animate-fade-up animate-once animate-duration-[600ms] animate-ease-in animate-normal"
        />
      </div>
    </div>
    <div
      class="bg-[url('/images/elements/tembok.webp')] pt-16 pb-28 flex flex-col items-center px-6 lg:px-0 w-full text-white-base"
    >
      <h1
        class="capitalize text-dark header-font-size mb-4 font-heading backdrop-blur-md bg-dark-base bg-opacity-40 px-2 rounded-md animate-fade-up animate-once animate-duration-300 animate-delay-[600ms] animate-ease-in"
      >
        Mau Nyari Apa miaw
      </h1>
      <p
        class="font-medium normal-font-size max-w-md lg:max-w-xl text-center backdrop-blur-md bg-dark-base bg-opacity-40 px-2 rounded-md animate-fade-up animate-once animate-duration-300 animate-delay-[800ms] animate-ease-in"
      >
        Hai Gensoed! Halaman website yang kamu cari tidak ada miaw. Cepat
        Kembali ke halaman utama ya miaww!!!
      </p>
      <a
        href="/"
        class="py-2 px-4 bg-white text-dark-base transition-all duration-200 rounded-lg my-4 capitalize hover:bg-yellow-base hover:text-dark-base animate-fade-up animate-once animate-duration-300 animate-delay-[850ms] animate-ease-in"
        >kembali ke beranda</a
      >
    </div>
  </section>
</Layout>
