---
import Layout from "../layouts/Layout.astro";
---

<Layout title="COOMING SOON">
  <section id="home" class="pt-36 bg-red-base">
    <div class="flex justify-center relative py-24" >
      <div class="max-w-lg absolute -bottom-8 sm:-bottom-9 md:-bottom-10">
        <img
          src="/images/coming-soon-person.png"
          alt="orang ngintip"
          class="w-full drop-shadow-3xl"
        />
      </div>
    </div>
    <div class="bg-dark-base pt-16 pb-28 flex flex-col items-center px-6 lg:px-0 w-full">
      <h1 class="text-white-base capitalize text-dark header-font-size mb-4 font-heading">COMING SOON</h1>
      <p class="text-white-base font-medium normal-font-size max-w-md lg:max-w-xl text-center">
        Hai Gensoed! Petualangan akademis Anda hampir dimulai. Kami sedang mempersiapkan sesuatu yang istimewa untuk menyambut Anda di dunia perkuliahan. Stay Toned!
      </p>
      <a href="/" class="py-2 px-4 bg-white rounded-lg my-4 capitalize hover:bg-yellow-base hover:font-bold">kembali ke beranda</a>
    </div>
  </section>
</Layout>
