---
import Layout from "../layouts/Layout.astro";
---

<Layout title="COOMING SOON">
  <section id="home" class="pt-36 bg-gradient-to-b to-cyan-500 from-blue-500">
    <div class="flex justify-center relative py-24">
      <div class="max-w-lg absolute -bottom-8 sm:-bottom-9 md:-bottom-10">
        <img
          src="/images/elements/people-peeping.webp"
          alt="Orang Mengintip"
          class="w-full drop-shadow-3xl"
        />
      </div>
    </div>
    <div
      class="bg-[url('/images/elements/tembok.webp')] pt-16 pb-28 flex flex-col items-center px-6 lg:px-0 w-full text-white-base"
    >
      <h1
        class="capitalize text-dark header-font-size mb-4 font-heading backdrop-blur-md bg-dark-base bg-opacity-40 px-2 rounded-md"
      >
        COMING SOON
      </h1>
      <p
        class="font-medium normal-font-size max-w-md lg:max-w-xl text-center backdrop-blur-md bg-dark-base bg-opacity-40 px-2 rounded-md"
      >
        Hai Gensoed! Petualangan akademis Anda hampir dimulai. Kami sedang
        mempersiapkan sesuatu yang istimewa untuk menyambut Anda di dunia
        perkuliahan. Stay Toned!
      </p>
      <a
        href="/"
        class="py-2 px-4 bg-white text-dark-base transition-all duration-200 rounded-lg my-4 capitalize hover:bg-yellow-base hover:text-dark-base"
        >kembali ke beranda</a
      >
    </div>
  </section>
</Layout>
