---
import Layout from "../layouts/Layout.astro";
import FaqList from "../components/FaqSections/FaqList.astro";
import { faqs } from "../data/FAQ.ts";
---

<Layout title="FAQ">
  <section id="hero" class="">
    <div
      class="text-center text-dark-base container max-w-3xl w-full pt-32 section-padding-x"
    >
      <h1
        class="header-font-size font-heading font-normal drop-shadow-[0_0px_1px_rgba(0,0,0,0.1)] stroke-10 stroke-green-base"
      >
        Yuk, Cari Tahu Jawaban Atas Pertanyaan Kamu!
      </h1>
    </div>
  </section>
  <section
    id="faqList"
    class="container max-w-screen-xl py-24 section-padding-x"
  >
    {faqs.map((faq) => <FaqList title={faq.title} faqs={faq.qa} />)}
  </section>
</Layout>
