---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import FaqList from "../components/FaqSections/FaqList.astro";
import Marque from "../components/Marque.astro";

const faqs = [
  {
    title: "Frequently Asked Questions",
    qa: [
      {
        question: "How secure is my insurance information?",
        answer:
          "We prioritize the security of your insurance information. We use advanced encryption and strict data protection measures to ensure your data is safe and confidential.",
      },
      {
        question: "How can I customize my insurance coverage?",
        answer:
          "Our insurance plans are customizable. You can tailor your coverage to meet your specific needs and budget.",
      },
      {
        question: "Is there a waiting period for insurance claims?",
        answer:
          "There may be a waiting period for certain insurance claims, depending on the policy terms and conditions. Please refer to your policy documents for details.",
      },
    ],
  },
  {
    title: "General Questions",
    qa: [
      {
        question: "How do I update my contact information?",
        answer:
          "You can update your contact information through your account settings or by contacting our customer service team.",
      },
      {
        question: "What payment methods do you accept?",
        answer:
          "We accept various payment methods including credit/debit cards, bank transfers, and digital wallets.",
      },
    ],
  },
];
---

<Layout title="FAQ">
  <section id="hero" class="pt-32 section-padding-x">
    <div class="container max-w-screen-xl">
      <div class="w-full">
        <div class="max-w-2xl mx-auto text-center mb-8">
          <h2
            class="font-bold capitalize text-dark header-font-size mb-4 font-heading"
          >
            Yuk, Cari Jawabanmu di Sini!
          </h2>
          <p class="font-medium normal-font-size text-secondary">
            Kami telah mengumpulkan beberapa pertanyaan yang sering diajukan
            oleh para Gensoed dengan informatif dan jelas. Jika Gensoed masih
            memiliki pertanyaan tambahan atau membutuhkan bantuan lebih lanjut,
            jangan ragu untuk menghubungi kami ya.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section
    id="faq-list"
    class="container max-w-screen-xl pt-16 pb-16 section-padding-x"
  >
    {faqs.map((faq) => <FaqList title={faq.title} faqs={faq.qa} />)}
  </section>
</Layout>
