---
import Layout from "../layouts/Layout.astro";
import FaqList from "../components/FaqSections/FaqList.astro";
import { faqs } from "../data/faq";
---

<Layout
  title="FAQ"
  addClass="bg-[url('/images/patterns/batik.svg')] bg-size text-dark-base"
>
  <section id="hero" class="pt-32 section-padding-x">
    <div class="container max-w-screen-xl">
      <div class="w-full">
        <div class="max-w-2xl mx-auto mb-8">
          <h1
            class="font-bold capitalize text-dark sub-header-font-size mb-4 font-heading text-center"
            data-aos="slide-down"
            data-aos-duration="500"
            data-aos-delay=""
            data-aos-easing="ease-in-out"
            data-aos-offset="0"
            data-aos-once="true"
          >
            Yuk, Cari Jawabanmu di Sini!
          </h1>
          <p
            class="font-medium normal-font-size text-secondary text-justify md:text-center"
            data-aos="slide-up"
            data-aos-duration="500"
            data-aos-delay=""
            data-aos-easing="ease-in-out"
            data-aos-offset="0"
            data-aos-once="true"
          >
            Kami telah mengumpulkan beberapa pertanyaan yang sering diajukan
            oleh para Gensoed dengan informatif dan jelas. Jika Gensoed masih
            memiliki pertanyaan tambahan atau membutuhkan bantuan lebih lanjut,
            jangan ragu untuk menghubungi kami ya.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section
    id="faq-list"
    class="container max-w-screen-xl pt-16 pb-16 section-padding-x"
  >
    {faqs.map((faq) => <FaqList title={faq.title} faqs={faq.qa} />)}
  </section>
</Layout>

<style>
  .bg-size {
    background-size: 128px;
  }
</style>
