---
import Layout from "../layouts/Layout.astro";
import FaqList from "../components/FaqSections/FaqList.astro";
import { faqs } from "../data/FAQ";
---

<Layout
  title="FAQ"
  addClass="bg-[url('/images/patterns/batik.svg')] bg-size text-dark-base"
>
  <section id="hero" class="pt-32 section-padding-x">
    <div class="container max-w-screen-xl">
      <div class="w-full">
        <div class="max-w-2xl mx-auto text-center mb-8">
          <h2
            class="font-bold capitalize text-dark header-font-size mb-4 font-heading"
            data-aos="slide-down"
            data-aos-duration="500"
            data-aos-delay=""
            data-aos-easing="ease-in-out"
            data-aos-offset="0"
            data-aos-once="true"
          >
            Yuk, Cari Jawabanmu di Sini!
          </h2>
          <p
            class="font-medium normal-font-size text-secondary"
            data-aos="slide-up"
            data-aos-duration="500"
            data-aos-delay=""
            data-aos-easing="ease-in-out"
            data-aos-offset="0"
            data-aos-once="true"
          >
            Kami telah mengumpulkan beberapa pertanyaan yang sering diajukan
            oleh para Gensoed dengan informatif dan jelas. Jika Gensoed masih
            memiliki pertanyaan tambahan atau membutuhkan bantuan lebih lanjut,
            jangan ragu untuk menghubungi kami ya.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section
    id="faq-list"
    class="container max-w-screen-xl pt-16 pb-16 section-padding-x"
  >
    {faqs.map((faq) => <FaqList title={faq.title} faqs={faq.qa} />)}
  </section>
</Layout>

<style>
  .bg-size {
    background-size: 128px;
  }
</style>
