---
import Hero from '../components/HomeSections/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Flashback from '../components/HomeSections/Flashback.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero />
    <Flashback />
  </main>
</Layout>
