---
import Hero from "../components/HomeSections/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Flashback from "../components/HomeSections/Flashback.astro";
import SponsorsSection from "../components/HomeSections/SponsorsSection.astro";
import KnowMore from "../components/KnowMore/KnowMore.astro";
import Logo from "../components/Logo/Logo.astro";
import Timeline from "../components/Timeline/Timeline.astro";
---

<Layout title="Selamat Datang">
  <main>
    <Hero />
    <KnowMore />
    <Logo />
    <Timeline />
    <Flashback />
    <SponsorsSection />
  </main>
</Layout>
