---
import Layout from "../layouts/Layout.astro"
import Fakultas from "../components/TentangUnsoedSections/Fakultas.astro"
import Music from "../components/TentangUnsoedSections/Music.astro"
---

<Layout title="Universitas Jenderal Soedirman">
    <div class="py-32"></div>
    <Fakultas ></Fakultas>
    <Music></Music>
</Layout>