<section id="after-movie" class="relative pt-16 pb-16 section-padding-x">
  <div class="max-w-scree-xl container">
    <div class="flex flex-col md:flex-row-reverse justify-between items-center">
      <div class="mb-8 sm:mb-0 py-0 md:w-1/3">
        <!-- Title -->
        <h2
          class="header-font-size font-semibold font-heading text-center md:text-left"
        >
          #After Movie Soedirman Student Summit 2024
        </h2>
      </div>
      <div class="py-0 md:w-1/2">
        <!-- Flasback Video -->
        <iframe
          class="w-full max-w-2xl aspect-video rounded-lg shadow-sm shadow-white-base"
          src="https://www.youtube.com/embed/d449HP8xthM?si=1iysq1khFmAQzZau&controls=0"
          title="RELEASE LAGU GENSOED"
          allow="accelerometer; encrypted-media; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        >
        </iframe>
      </div>
    </div>
  </div>
  <img
    src="/images/elements/abstract-line.webp"
    alt="Abstract Line"
    class="absolute w-[128px] top-2 right-0 lg:w-[144px] xl:w-[192px] xl:top-4 xl:right-48"
  />
</section>
