---
import RagamSwiper from "../Swiper/RagamSwiper.astro";
import type { RagamInfoItem } from "../Swiper/RagamSwiper.astro";

const data: RagamInfoItem[] = [
  {
    title: "Fakultas Teknik",
    desc: "Fakultas ini menawarkan pendidikan tinggi dalam bidang teknik sipil, teknik elektro, teknik mesin, dan arsitektur. Fokus utama adalah pada pengembangan keterampilan teknis dan inovasi di bidang teknik untuk mendukung pembangunan infrastruktur dan industri di Indonesia.",
    img: "https://www.bem.ft.unsoed.ac.id/wp-content/uploads/2023/09/Logo-BEM-FT.png",
  },
  {
    title: "Fakultas MIPA",
    desc: "Fakultas ini menawarkan pendidikan di bidang ilmu dasar seperti matematika, fisika, dan kimia. Tujuan utamanya adalah pengembangan keilmuan serta penerapan konsep ilmiah dalam berbagai konteks.",
    img: "https://fmipa.unsoed.ac.id/v4/wp-content/uploads/logo-bem-km-mipa-1024x1024.png",
  },
  {
    title: "Fakultas Teknik",
    desc: "Fakultas ini menawarkan pendidikan tinggi dalam bidang teknik sipil, teknik elektro, teknik mesin, dan arsitektur. Fokus utama adalah pada pengembangan keterampilan teknis dan inovasi di bidang teknik untuk mendukung pembangunan infrastruktur dan industri di Indonesia.",
    img: "https://www.bem.ft.unsoed.ac.id/wp-content/uploads/2023/09/Logo-BEM-FT.png",
  },
  {
    title: "Fakultas MIPA",
    desc: "Fakultas ini menawarkan pendidikan di bidang ilmu dasar seperti matematika, fisika, dan kimia. Tujuan utamanya adalah pengembangan keilmuan serta penerapan konsep ilmiah dalam berbagai konteks.",
    img: "https://fmipa.unsoed.ac.id/v4/wp-content/uploads/logo-bem-km-mipa-1024x1024.png",
  },
  {
    title: "Fakultas Teknik",
    desc: "Fakultas ini menawarkan pendidikan tinggi dalam bidang teknik sipil, teknik elektro, teknik mesin, dan arsitektur. Fokus utama adalah pada pengembangan keterampilan teknis dan inovasi di bidang teknik untuk mendukung pembangunan infrastruktur dan industri di Indonesia.",
    img: "https://www.bem.ft.unsoed.ac.id/wp-content/uploads/2023/09/Logo-BEM-FT.png",
  },
  {
    title: "Fakultas MIPA",
    desc: "Fakultas ini menawarkan pendidikan di bidang ilmu dasar seperti matematika, fisika, dan kimia. Tujuan utamanya adalah pengembangan keilmuan serta penerapan konsep ilmiah dalam berbagai konteks.",
    img: "https://fmipa.unsoed.ac.id/v4/wp-content/uploads/logo-bem-km-mipa-1024x1024.png",
  },
  {
    title: "Fakultas Teknik",
    desc: "Fakultas ini menawarkan pendidikan tinggi dalam bidang teknik sipil, teknik elektro, teknik mesin, dan arsitektur. Fokus utama adalah pada pengembangan keterampilan teknis dan inovasi di bidang teknik untuk mendukung pembangunan infrastruktur dan industri di Indonesia.",
    img: "https://www.bem.ft.unsoed.ac.id/wp-content/uploads/2023/09/Logo-BEM-FT.png",
  },
  {
    title: "Fakultas MIPA",
    desc: "Fakultas ini menawarkan pendidikan di bidang ilmu dasar seperti matematika, fisika, dan kimia. Tujuan utamanya adalah pengembangan keilmuan serta penerapan konsep ilmiah dalam berbagai konteks.",
    img: "https://fmipa.unsoed.ac.id/v4/wp-content/uploads/logo-bem-km-mipa-1024x1024.png",
  },
  {
    title: "Fakultas Teknik",
    desc: "Fakultas ini menawarkan pendidikan tinggi dalam bidang teknik sipil, teknik elektro, teknik mesin, dan arsitektur. Fokus utama adalah pada pengembangan keterampilan teknis dan inovasi di bidang teknik untuk mendukung pembangunan infrastruktur dan industri di Indonesia.",
    img: "https://www.bem.ft.unsoed.ac.id/wp-content/uploads/2023/09/Logo-BEM-FT.png",
  },
  {
    title: "Fakultas MIPA",
    desc: "Fakultas ini menawarkan pendidikan di bidang ilmu dasar seperti matematika, fisika, dan kimia. Tujuan utamanya adalah pengembangan keilmuan serta penerapan konsep ilmiah dalam berbagai konteks.",
    img: "https://fmipa.unsoed.ac.id/v4/wp-content/uploads/logo-bem-km-mipa-1024x1024.png",
  },
  {
    title: "Fakultas Teknik",
    desc: "Fakultas ini menawarkan pendidikan tinggi dalam bidang teknik sipil, teknik elektro, teknik mesin, dan arsitektur. Fokus utama adalah pada pengembangan keterampilan teknis dan inovasi di bidang teknik untuk mendukung pembangunan infrastruktur dan industri di Indonesia.",
    img: "https://www.bem.ft.unsoed.ac.id/wp-content/uploads/2023/09/Logo-BEM-FT.png",
  },
  {
    title: "Fakultas MIPA",
    desc: "Fakultas ini menawarkan pendidikan di bidang ilmu dasar seperti matematika, fisika, dan kimia. Tujuan utamanya adalah pengembangan keilmuan serta penerapan konsep ilmiah dalam berbagai konteks.",
    img: "https://fmipa.unsoed.ac.id/v4/wp-content/uploads/logo-bem-km-mipa-1024x1024.png",
  },
];
---

<section id="visi-misi" class="pt-16 pb-16 px-4 bg-white-base text-dark-base">
  <div class="container max-w-screen-xl">
    <div class="flex flex-col gap-4 md:gap-8">
      <div class="max-w-screen-md mx-auto text-center">
        <h2
          class="font-heading font-bold capitalize text-3xl sm:text-4xl lg:text-5xl mb-2"
        >
          Ragam Unsoed
        </h2>
        <p class="text-sm sm:text-base">
          Berikut adalah daftar fakultas dan fasilitas di Universitas Jenderal
          Soedirman (UNSOED).
        </p>
      </div>
      <div class="max-h-80 flex min-h-64 md:h-80 w-full">
        <RagamSwiper ragamInfo={data} />
      </div>
    </div>
  </div>
</section>
