---

---

<section id="music" class="pt-16 pb-16 section-padding-x">
  <div class="container max-w-screen-xl">
    <div class="flex flex-wrap md:justify-center gap-4 md:gap-8">
      <div class="max-w-screen-md mx-auto text-center">
        <h2 class="font-heading font-semibold capitalize header-font-size mb-2">
          Hymne & Mars Unsoed
        </h2>
        <p class="small-font-size">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
          odio, adipisci soluta esse ducimus praesentium expedita
        </p>
      </div>
      <div class="w-full flex flex-col md:flex-row justify-between gap-4">
        <div class="w-full md:w-2/5 flex flex-row">
          <div class="w-2 min-h-full bg-dark-base rounded-xl mr-2 md:hidden">
          </div>
          <div class="">
            <h3 class="extra-small-font-size text-dark-base italic">
              HYMNE UNSOED
            </h3>
            <h4
              class="font-heading font-medium sub-header-font-size text-dark-base md:my-2"
            >
              HARUMKAN WIYATA TINGGI
            </h4>
            <p class="normal-font-size text-pretty text-dark-base font-body">
              Karyamu cendekia didambakan negara <br />
              Dharmamu sepenuhnya sumbangkan membangun nusa <br />
              Membina sarana karya raksasa menuju bangsa sejahtera <br />
              Budhaya pribadi yang asli murni harumkan wiyata tinggi
            </p>
            <audio
              controls
              controlslist="nodownload nofullscreen noremoteplayback"
              src="/audio/hymne.mp3"
              class="rounded-full my-4 m-auto sm:m-0 md:m-auto"></audio>
          </div>
        </div>
        <!-- line -->
        <div class="min-h-full min-w-2 bg-dark-base rounded-md hidden md:block">
        </div>
        <!-- line -->
        <div class="w-full md:w-2/5 flex flex-row">
          <div class="w-2 min-h-full bg-dark-base rounded-xl mr-2 md:hidden">
          </div>
          <div class="">
            <h3 class="extra-small-font-size text-dark-base italic">
              MARS UNSOED
            </h3>
            <h4
              class="sub-header-font-size font-heading font-medium text-2xl sm:text-3xl lg:text-4xl text-dark-base md:my-2"
            >
              TINGKATKAN MARTABAT BANGSA
            </h4>
            <p class="normal-font-size text-pretty text-dark-base font-body">
              Kami Mahasiswa Unsoed bertekun dalam wiyata <br />
              Jiwa Panglima besar Kita cerminkan hasrat membaja <br />
              Memupuk rasa persatuan berdasarkan Pancasila <br />
              Memimpin rakyat kesejahtera serta pribadi bangsa <br />
              <br />
              UNIVERSITAS NEGERI JENDERAL SOEDIRMAN <br /> Maju terus pantang mundur
              <br />
              UNIVERSITAS NEGERI JENDERAL SOEDIRMAN <br /> Bercita-cita yang luhur
              <br />
              <br />
              Kami Mahasiswa Unsoed siap mengabdikan karya <br />
              Masa Hari-hari datang kita hadapi bersama <br />
              Seluruh rakyat Indonesia rasakan dharma sarjana <br />
              Mencapai cita mengabdi Bangsa Indonesia yang jaya <br />
              <br />
              UNIVERSITAS NEGERI JENDERAL SOEDIRMAN <br /> Isyaf akan tugas mulia
              <br />
              UNIVERSITAS NEGERI JENDERAL SOEDIRMAN <br /> Tinggikan martabat bangsa
              <br />
            </p>
            <audio
              controls
              controlslist="nodownload nofullscreen noremoteplayback"
              src="/audio/mars.mp3"
              class="rounded-full my-4 m-auto sm:ml-auto sm:m-0 md:m-auto"
            ></audio>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <style>
  * {
    border: 1px solid lime;
  }
</style> -->
</section>
