<svg
  class="bg-transparent"
  id="wave"
  style="transform:rotate(0deg); transition: 0.3s"
  viewBox="0 0 1440 130"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  ><defs
    ><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"
      ><stop stop-color="#0f172a" offset="0%"></stop><stop
        stop-color="#0f172a"
        offset="100%"></stop></linearGradient
    ></defs
  ><path
    style="transform:translate(0, 0px); opacity:1"
    fill="url(#sw-gradient-0)"
    d="M0,78L30,65C60,52,120,26,180,30.3C240,35,300,69,360,84.5C420,100,480,95,540,80.2C600,65,660,39,720,32.5C780,26,840,39,900,47.7C960,56,1020,61,1080,52C1140,43,1200,22,1260,26C1320,30,1380,61,1440,71.5C1500,82,1560,74,1620,60.7C1680,48,1740,30,1800,21.7C1860,13,1920,13,1980,15.2C2040,17,2100,22,2160,28.2C2220,35,2280,43,2340,49.8C2400,56,2460,61,2520,71.5C2580,82,2640,100,2700,97.5C2760,95,2820,74,2880,69.3C2940,65,3000,78,3060,73.7C3120,69,3180,48,3240,52C3300,56,3360,87,3420,99.7C3480,113,3540,108,3600,108.3C3660,108,3720,113,3780,104C3840,95,3900,74,3960,58.5C4020,43,4080,35,4140,45.5C4200,56,4260,87,4290,101.8L4320,117L4320,130L4290,130C4260,130,4200,130,4140,130C4080,130,4020,130,3960,130C3900,130,3840,130,3780,130C3720,130,3660,130,3600,130C3540,130,3480,130,3420,130C3360,130,3300,130,3240,130C3180,130,3120,130,3060,130C3000,130,2940,130,2880,130C2820,130,2760,130,2700,130C2640,130,2580,130,2520,130C2460,130,2400,130,2340,130C2280,130,2220,130,2160,130C2100,130,2040,130,1980,130C1920,130,1860,130,1800,130C1740,130,1680,130,1620,130C1560,130,1500,130,1440,130C1380,130,1320,130,1260,130C1200,130,1140,130,1080,130C1020,130,960,130,900,130C840,130,780,130,720,130C660,130,600,130,540,130C480,130,420,130,360,130C300,130,240,130,180,130C120,130,60,130,30,130L0,130Z"
  ></path></svg
>
<section
  id="music"
  class="pt-8 pb-8 lg:pt-16 lg:pb-16 section-padding-x bg-[#0f172a] text-white-base"
>
  <div class="container max-w-screen-xl">
    <div
      class="flex flex-wrap md:justify-center gap-4 md:gap-8"
      data-aos="slide-up"
      data-aos-duration="600"
      data-aos-easing="ease-out"
      data-aos-offset="100"
      data-aos-once="true"
    >
      <div class="max-w-screen-md mx-auto text-center">
        <h2 class="font-heading font-semibold capitalize header-font-size mb-2">
          Hymne & Mars Unsoed
        </h2>
      </div>
      <div class="w-full flex flex-col md:flex-row justify-between gap-4">
        <div
          class="w-full md:w-2/5 flex flex-row"
          data-aos="fade-up-right"
          data-aos-duration="600"
          data-aos-delay="300"
          data-aos-easing="ease-out"
          data-aos-offset=""
          data-aos-once="true"
        >
          <div class="w-2 min-h-full bg-white-base rounded-xl mr-2 md:hidden">
          </div>
          <div class="">
            <h3 class="extra-small-font-size text-white-base italic">
              HYMNE UNSOED
            </h3>
            <h4
              class="font-heading font-medium sub-header-font-size text-white-base md:my-2"
            >
              HARUMKAN WIYATA TINGGI
            </h4>
            <p
              class="normal-font-size text-pretty mb-2 md:mb-8 text-white-base font-body"
            >
              Karyamu cendekia didambakan negara <br />
              Dharmamu sepenuhnya sumbangkan membangun nusa <br />
              Membina sarana karya raksasa menuju bangsa sejahtera <br />
              Budhaya pribadi yang asli murni harumkan wiyata tinggi
            </p>
            <audio
              controls
              controlslist="nodownload nofullscreen noremoteplayback"
              src="/audio/hymne.mp3"
              class="rounded-full mx-auto"></audio>
          </div>
        </div>
        <div
          class="min-h-full min-w-2 bg-white-base rounded-md hidden md:block"
        >
        </div>
        <div
          class="w-full md:w-2/5 flex flex-row"
          data-aos="fade-up-left"
          data-aos-duration="600"
          data-aos-delay="300"
          data-aos-easing="ease-out"
          data-aos-offset=""
          data-aos-once="true"
        >
          <div class="w-2 min-h-full bg-white-base rounded-xl mr-2 md:hidden">
          </div>
          <div class="">
            <h3 class="extra-small-font-size text-white-base italic">
              MARS UNSOED
            </h3>
            <h4
              class="sub-header-font-size font-heading font-medium text-2xl sm:text-3xl lg:text-4xl text-white-base md:my-2"
            >
              TINGKATKAN MARTABAT BANGSA
            </h4>
            <p
              class="normal-font-size text-pretty mb-2 md:mb-8 text-white-base font-body"
            >
              Kami Mahasiswa Unsoed bertekun dalam wiyata <br />
              Jiwa Panglima besar Kita cerminkan hasrat membaja <br />
              Memupuk rasa persatuan berdasarkan Pancasila <br />
              Memimpin rakyat kesejahtera serta pribadi bangsa <br />
              <br />
              UNIVERSITAS NEGERI JENDERAL SOEDIRMAN <br /> Maju terus pantang mundur
              <br />
              UNIVERSITAS NEGERI JENDERAL SOEDIRMAN <br /> Bercita-cita yang luhur
              <br />
              <br />
              Kami Mahasiswa Unsoed siap mengabdikan karya <br />
              Masa Hari-hari datang kita hadapi bersama <br />
              Seluruh rakyat Indonesia rasakan dharma sarjana <br />
              Mencapai cita mengabdi Bangsa Indonesia yang jaya <br />
              <br />
              UNIVERSITAS NEGERI JENDERAL SOEDIRMAN <br /> Isyaf akan tugas mulia
              <br />
              UNIVERSITAS NEGERI JENDERAL SOEDIRMAN <br /> Tinggikan martabat bangsa
              <br />
            </p>
            <audio
              controls
              controlslist="nodownload nofullscreen noremoteplayback"
              src="/audio/mars.mp3"
              class="rounded-full mt-8 m-auto sm:ml-auto sm:m-0 md:m-auto"
            ></audio>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<svg
  class="bg-transparent"
  id="wave"
  style="transform:rotate(180deg); transition: 0.3s"
  viewBox="0 0 1440 130"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  ><defs
    ><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"
      ><stop stop-color="#0f172a" offset="0%"></stop><stop
        stop-color="#0f172a"
        offset="100%"></stop></linearGradient
    ></defs
  ><path
    style="transform:translate(0, 0px); opacity:1"
    fill="url(#sw-gradient-0)"
    d="M0,78L30,65C60,52,120,26,180,30.3C240,35,300,69,360,84.5C420,100,480,95,540,80.2C600,65,660,39,720,32.5C780,26,840,39,900,47.7C960,56,1020,61,1080,52C1140,43,1200,22,1260,26C1320,30,1380,61,1440,71.5C1500,82,1560,74,1620,60.7C1680,48,1740,30,1800,21.7C1860,13,1920,13,1980,15.2C2040,17,2100,22,2160,28.2C2220,35,2280,43,2340,49.8C2400,56,2460,61,2520,71.5C2580,82,2640,100,2700,97.5C2760,95,2820,74,2880,69.3C2940,65,3000,78,3060,73.7C3120,69,3180,48,3240,52C3300,56,3360,87,3420,99.7C3480,113,3540,108,3600,108.3C3660,108,3720,113,3780,104C3840,95,3900,74,3960,58.5C4020,43,4080,35,4140,45.5C4200,56,4260,87,4290,101.8L4320,117L4320,130L4290,130C4260,130,4200,130,4140,130C4080,130,4020,130,3960,130C3900,130,3840,130,3780,130C3720,130,3660,130,3600,130C3540,130,3480,130,3420,130C3360,130,3300,130,3240,130C3180,130,3120,130,3060,130C3000,130,2940,130,2880,130C2820,130,2760,130,2700,130C2640,130,2580,130,2520,130C2460,130,2400,130,2340,130C2280,130,2220,130,2160,130C2100,130,2040,130,1980,130C1920,130,1860,130,1800,130C1740,130,1680,130,1620,130C1560,130,1500,130,1440,130C1380,130,1320,130,1260,130C1200,130,1140,130,1080,130C1020,130,960,130,900,130C840,130,780,130,720,130C660,130,600,130,540,130C480,130,420,130,360,130C300,130,240,130,180,130C120,130,60,130,30,130L0,130Z"
  ></path></svg
>
