---

---

<section id="music">
  <div class="flex flex-col lg:flex-row justify-center lg:gap-4 px-4 md:px-12 lg:px-32 py-16">
    <div class=" w-full lg:w-2/5 ">
      <h1 class="text-xs text-dark-base font-heading italic font-semibold">HYMNE UNSOED</h1>
      <p class="text-dark-base font-heading text-3xl lg:text-4xl drop-shadow-[0_0px_1px] my-2">HARUMKAN WIYATA TINGGI</p>
      <p class="text-pretty text-sm md:text-base text-dark-base font-body font-normal">
        Karyamu cendekia didambakan negara <br>
        Dharmamu sepenuhnya sumbangkan membangun nusa <br>
        Membina sarana karya raksasa menuju bangsa sejahtera <br>
        Budhaya pribadi yang asli murni harumkan wiyata tinggi 
      </p>
      <audio
        controls
        controlslist="nodownload nofullscreen noremoteplayback"
        src="/audio/hymne.mp3"
        class=" rounded-full my-4 "></audio>
    </div>
    <!-- line -->
    <div class="lg:w-2 bg-dark-base lg:mb-12 lg:my-6 rounded "></div>
    <!-- line -->
    <div class=" w-full lg:w-2/5">
      <h1 class="text-xs text-dark-base font-heading italic font-semibold">MARS UNSOED</h1>
      <p class="text-dark-base font-heading text-3xl lg:text-4xl drop-shadow-[0_0px_1px] my-2">TINGKATKAN MARTABAT BANGSA</p>
      <p class="text-pretty text-sm md:text-base text-dark-base font-body font-normal">
        Kami Mahasiswa Unsoed bertekun dalam wiyata <br />
        Jiwa Panglima besar Kita cerminkan hasrat membaja <br />
        Memupuk rasa persatuan berdasarkan Pancasila <br />
        Memimpin rakyat kesejahtera serta pribadi bangsa <br />
        <br>
        UNIVERSITAS NEGERI JENDERAL SOEDIRMAN <br /> maju terus pantang mundur <br>
        UNIVERSITAS NEGERI JENDERAL SOEDIRMAN <br /> bercita-cita yang luhur <br>
        <br>
        Kami Mahasiswa Unsoed siap mengabdikan karya <br />
        Masa Hari-hari datang kita hadapi bersama <br />
        Seluruh rakyat Indonesia rasakan dharma sarjana <br />
        Mencapai cita mengabdi Bangsa Indonesia yang jaya <br />
        <br>
        UNIVERSITAS NEGERI JENDERAL SOEDIRMAN <br /> isyaf akan tugas mulia <br>
        UNIVERSITAS NEGERI JENDERAL SOEDIRMAN <br /> tinggikan martabat bangsa <br>
      </p>
      <audio
        controls
        controlslist="nodownload nofullscreen noremoteplayback"
        src="/audio/mars.mp3"
        class=" rounded-full my-4 "></audio>
    </div>
  </div>
</section>

<!-- <style>
  * {
    border: 1px solid lime;
  }
</style> -->