---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  class="text-slate-100 text-sm font-jakarta hover:text-yellow-base hover:font-medium transition-all duration-300 w-fit"
>
  <slot />
</a>
