---
interface Props {
    title: string;
    href: string;
    img: string;
    extraClass?: string;
}

const { href, title, img, extraClass = "" } = Astro.props;
---

<a
    href={href}
    class={`flex flex-col w-full max-w-[256px] py-12 md:py-16 lg:py-20 gap-6 items-center bg-gray-200 rounded-md h-fit ${extraClass}`}
>
    <img
        src={img}
        alt="Dummy image"
        class="w-24 h-24 object-cover rounded-md"
    />
    <h3 class="text-xl font-love text-gray-800">{title}</h3>
</a>
