---
interface Props {
  title: string;
  href: string;
  img: string;
}

const { href, title, img } = Astro.props;
---

<a
  href={href}
  class="ring-1 rounded-lg flex flex-col space-y-2 p-4 break-inside-avoid mb-6 bg-white-base hover:ring-2 ring-gray-300 hover:ring-sky-600 transform duration-200 hover:shadow-sky-200 hover:shadow-md group relative overflow-hidden"
>
  <span
    class="absolute -top-20 -left-20 -z-10 h-20 w-20 rounded-full bg-sky-400 transition-all duration-300 group-hover:scale-[15]"
  ></span>
  <div class="flex flex-col break-inside-avoid-page z-0">
    <img src={img} alt=`Logo ${title}` class="w-full" />
  </div>
  <h2
    class="whitespace-pre-line text-xl md:text-2xl tracking-tight text-dark-base font-heading text-center"
  >
    {title}
  </h2>
</a>
