---
import TimelineCard from "./TimelineCard.astro";
---

<section id="timeline" class="pt-16 pb-16 section-padding-x m-auto">
  <div class="container max-w-screen-xl flex flex-col">
    <div class="w-full">
      <div class="mx-auto text-center">
        <h2 class="header-font-size font-semibold text-primary font-heading">
          Timeline
        </h2>
      </div>
    </div>
    <div class="w-full">
      <TimelineCard />
    </div>
  </div>
</section>
