---
import TimelineCard from "./TimelineCard.astro";
---

<section
  id="timeline"
  class="pt-16 pb-16 bg-yellow-200 text-dark-base section-padding-x m-auto bg-[url('/images/patterns/soedirman-student-summit.webp')] bg-center"
>
  <div class="container max-w-screen-xl flex flex-col">
    <div class="w-full mb-4">
      <div class="mx-auto text-center">
        <!-- Title -->
        <h2
          class="header-font-size font-semibold text-primary font-heading"
          data-aos="fade-down"
          data-aos-duration="600"
          data-aos-delay="100"
          data-aos-easing="ease-out"
          data-aos-offset="260"
          data-aos-once="true"
        >
          Timeline
        </h2>
      </div>
    </div>
    <div class="w-full rounded-lg text-dark-base bg-white-base overflow-hidden">
      <!-- Timeline Description -->
      <TimelineCard />
    </div>
  </div>
</section>
