<section id="flashback" class="section-padding-x pt-16 pb-16">
  <div
    class="max-w-screen-xl flex flex-col md:flex-row justify-between gap-4 items-center"
  >
    <div class="mb-8 sm:mb-0 py-0 sm:py-6 md:w-1/3">
      <h2
        class="header-font-size font-semibold font-heading text-dark-base text-center md:text-left"
      >
        #Flashback Soedirman Student Summit
      </h2>
    </div>
    <div class="py-0 sm:py-6 md:w-1/2">
      <iframe
        class="w-full max-w-2xl aspect-video rounded-lg drop-shadow-[0_0px_5px]"
        src="https://www.youtube.com/embed/Fvsd8KB1uxA?si=YnnjcBEb-p7zE4S0&rel=0"
        title="#Flashback Soedirman Student Summit"
        allow="accelerometer; encrypted-media; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      >
      </iframe>
    </div>
  </div>
</section>
