<section
  id="flashback"
  class="section-padding-x pt-16 pb-8 text-white-base bg-dark-base"
>
  <div class="container max-w-screen-xl">
    <div
      class="flex flex-col md:flex-row-reverse justify-between items-center pb-16"
    >
      <div
        class="mb-8 sm:mb-0 py-0 md:w-1/3"
        data-aos="fade-right"
        data-aos-duration="500"
        data-aos-easing="ease-out"
        data-aos-offset="300"
        data-aos-once="true"
      >
        <!-- Title -->
        <h2
          class="header-font-size font-semibold font-heading text-center md:text-left"
        >
          #Release Lagu Gensoed
        </h2>
      </div>
      <div
        class="py-0 md:w-1/2"
        data-aos="fade-left"
        data-aos-duration="400"
        data-aos-easing="ease-out"
        data-aos-offset="300"
        data-aos-once="true"
      >
        <!-- Flasback Video -->
        <iframe
          class="w-full max-w-2xl aspect-video rounded-lg shadow-sm shadow-white-base"
          src="https://www.youtube.com/embed/d449HP8xthM?si=1iysq1khFmAQzZau&controls=0"
          title="RELEASE LAGU GENSOED"
          allow="accelerometer; encrypted-media; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        >
        </iframe>
      </div>
    </div>
    <div class="flex flex-col md:flex-row justify-between items-center">
      <div
        class="mb-8 sm:mb-0 py-0 md:w-1/3"
        data-aos="fade-right"
        data-aos-duration="500"
        data-aos-easing="ease-out"
        data-aos-offset="300"
        data-aos-once="true"
      >
        <!-- Title -->
        <h2
          class="header-font-size font-semibold font-heading text-center md:text-left"
        >
          #Flashback Soedirman Student Summit
        </h2>
      </div>
      <div
        class="py-0 md:w-1/2"
        data-aos="fade-left"
        data-aos-duration="400"
        data-aos-easing="ease-out"
        data-aos-offset="300"
        data-aos-once="true"
      >
        <!-- Flasback Video -->
        <iframe
          class="w-full max-w-2xl aspect-video rounded-lg shadow-sm shadow-white-base"
          src="https://www.youtube.com/embed/Fvsd8KB1uxA?si=YnnjcBEb-p7zE4S0&rel=0"
          title="#Flashback Soedirman Student Summit"
          allow="accelerometer; encrypted-media; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        >
        </iframe>
      </div>
    </div>
  </div>
</section>
