---
const sponsors = [
  {
    img: "/images/sponsors/bank-mandiri.webp",
    name: "BANK Mandiri",
  },
  {
    img: "/images/sponsors/wardah.webp",
    name: "Wardah",
  },
];
---

<img src="/images/waves/white-wave.svg" alt="" class="bg-dark-base" />
<section id="sponsors" class="section-padding-x pb-12 pt-8">
  <div class="container max-w-screen-xl">
    <div
      class="flex flex-col justify-center content-center items-center bg-white-base text-dark-base"
    >
      <h2 class="font-heading header-font-size mb-8">Sponsorship</h2>
      <div
        class="flex flex-wrap justify-center gap-4 lg:gap-6 md:max-w-xl lg:max-w-4xl"
      >
        {
          sponsors.map((sponsor) => (
            <span class="max-w-36 sm:max-w-40 flex justify-center items-center">
              <img src={sponsor.img} alt={sponsor.name} />
            </span>
          ))
        }
      </div>
    </div>
  </div>
</section>
