---
const sponsors = [
  {
    img: "/images/sponsors/gojek.png",
    name: "",
  },
  {
    img: "/images/sponsors/google.png",
    name: "",
  },
  {
    img: "/images/sponsors/mie-gacoan.png",
    name: "",
  },
  {
    img: "/images/sponsors/coca-cola.png",
    name: "",
  },
];
---

<section id="sponsors" class="section-padding-x pt-16 pb-16">
  <div class="container max-w-screen-xl">
    <div class="flex flex-col justify-center content-center items-center">
      <h2 class="text-dark-base font-heading header-font-size mb-8">
        Sponsorship
      </h2>
      <div
        class="flex flex-wrap justify-center gap-4 lg:gap-6 md:max-w-xl lg:max-w-4xl"
      >
        {
          sponsors.map((sponsor) => (
            <a
              href="#"
              class="max-w-36 sm:max-w-40 flex justify-center items-center"
            >
              <img
                src={sponsor.img}
                alt={sponsor.name}
                class="hover:drop-shadow-[0_0px_6px_#FFAA19] transition-all duration-300"
              />
            </a>
          ))
        }
      </div>
    </div>
  </div>
</section>
