<section
  id="penugasan"
  class="section-padding-x bg-white-base pt-24 text-dark-base pb-12"
>
  <div class="container max-w-screen-xl">
    <div class="flex flex-col grid-cols-9 mx-auto md:grid">
      <div class="flex md:contents" id="penugasan-terakhir">
        <div class="relative col-start-5 col-end-6 mr-4 md:mx-auto">
          <div class="flex items-center justify-center w-6">
            <div
              class="w-1 rounded-t-full min-h-48 bg-gradient-to-t from-indigo-300 to-white-base"
            >
            </div>
          </div>
        </div>
        <div
          class="relative col-start-6 col-end-10 mr-auto md:max-w-[128px] lg:max-w-[196px] xl:max-w-[]: hidden md:flex items-center"
        >
        </div>
      </div>
      <div class="flex md:contents" id="penugasan-ketigas">
        <div
          class="relative col-start-1 col-end-5 ml-auto md:max-w-[128px] lg:max-w-[196px] xl:max-w-[]: hidden md:flex items-center"
        >
          <img src="/images/butterfly-parts/kepompong.png" alt="Kepompong" />
        </div>
        <div class="relative col-start-5 col-end-6 mr-4 md:mx-auto">
          <div class="flex items-center justify-center w-6 h-full">
            <div class="w-1 h-full bg-indigo-300"></div>
          </div>
          <div
            class="absolute w-6 h-6 -mt-3 bg-white border-4 border-indigo-400 rounded-full top-1/2"
          >
          </div>
        </div>
        <div
          class="relative p-4 my-6 bg-white-base rounded-xl col-start-6 col-end-10 mr-auto"
        >
          <h2
            class="font-semibold mb-2 font-heading text-lg sm:text-xl md:text-2xl lg:text-3xl"
          >
            Refleksi dan Persiapan
          </h2>
          <ul class="list-decimal pl-2 sm:pl-3 md:pl-4 extra-small-font-size">
            <li>
              Maba mengikuti seminar atau workshop tentang kiat-kiat sukses di
              perkuliahan, seperti time management, strategi belajar efektif,
              dan membangun jaringan.
            </li>
            <li>
              Maba melakukan refleksi diri dan merenungkan perjalanan mereka
              selama penugasan.
            </li>
            <li>
              Maba saling memberikan dukungan dan semangat untuk menghadapi
              tantangan di masa depan.
            </li>
          </ul>
          <span
            class="absolute text-sm text-dark-base/75 -top-5 left-2 whitespace-nowrap"
            >Penugasan Ketiga</span
          >
          <img
            src="/images/butterfly-parts/kepompong.png"
            alt="Kepompong"
            class="md:hidden absolute -top-8 -right-6 w-16"
          />
        </div>
      </div>
      <div class="flex md:contents flex-row-reverse" id="penugasan-kedua">
        <div
          class="relative p-4 my-6 bg-white-base rounded-xl col-start-1 col-end-5 mr-auto md:mr-0 md:ml-auto"
        >
          <h3
            class="font-semibold mb-2 font-heading text-lg sm:text-xl md:text-2xl lg:text-3xl"
          >
            Pertumbuhan dan Perkembangan
          </h3>
          <ul class="list-decimal pl-2 sm:pl-3 md:pl-4 extra-small-font-size">
            <li>
              Maba mengikuti lomba estafet yang melambangkan proses metamorfosis
              ulat menjadi kepompong.
            </li>
            <li>
              Setiap Maba harus menyelesaikan tugas individu yang berkaitan
              dengan pengembangan diri, seperti membuat daftar tujuan belajar
              atau resolusi akademik.
            </li>
            <li>
              Maba bertukar ide dan saling memotivasi untuk mencapai tujuan
              mereka.
            </li>
          </ul>
          <span
            class="absolute text-sm text-dark-base/75 -top-5 left-2 whitespace-nowrap"
            >Penugasan Kedua</span
          >
          <img
            src="/images/butterfly-parts/ulat.png"
            alt="Ulat"
            class="md:hidden absolute -top-8 -right-6 w-16"
          />
        </div>
        <div class="relative col-start-5 col-end-6 mr-4 md:mx-auto">
          <div class="flex items-center justify-center w-6 h-full">
            <div class="w-1 h-full bg-indigo-300 rounded-t-full"></div>
          </div>
          <div
            class="absolute w-6 h-6 -mt-3 bg-white border-4 border-indigo-400 rounded-full top-1/2"
          >
          </div>
        </div>
        <div
          class="relative col-start-6 col-end-10 mr-auto md:max-w-[128px] lg:max-w-[196px] xl:max-w-[]: hidden md:flex items-center"
        >
          <img src="/images/butterfly-parts/ulat.png" alt="Ulat" />
        </div>
      </div>
      <div class="flex md:contents" id="penugasan-pertama">
        <div
          class="relative col-start-1 col-end-5 ml-auto md:max-w-[128px] lg:max-w-[196px] xl:max-w-[]: hidden md:flex items-center"
        >
          <img src="/images/butterfly-parts/telur.png" alt="" />
        </div>
        <div class="relative col-start-5 col-end-6 mr-4 md:mx-auto">
          <div class="flex items-center justify-center w-6 h-full">
            <div
              class="w-1 h-full from-indigo-300 bg-gradient-to-b to-indigo-400"
            >
            </div>
          </div>
          <div
            class="absolute w-6 h-6 -mt-3 bg-white border-4 border-indigo-400 rounded-full top-1/2"
          >
          </div>
        </div>
        <div
          class="relative p-4 my-6 bg-white-base rounded-xl col-start-6 col-end-10 mr-auto"
        >
          <h2
            class="font-semibold mb-2 font-heading text-lg sm:text-xl md:text-2xl lg:text-3xl"
          >
            Kelahiran dan Awal Baru
          </h2>
          <ul class="list-decimal pl-2 sm:pl-3 md:pl-4 extra-small-font-size">
            <li>
              Maba dibagi menjadi kelompok-kelompok kecil yang mewakili telur
              kupu-kupu.
            </li>
            <li>
              Setiap kelompok diberi tugas untuk membuat telur kupu-kupu raksasa
              dari bahan-bahan daur ulang.
            </li>
            <li>
              Maba harus berkolaborasi dan menunjukkan kreativitas mereka untuk
              menyelesaikan tugas ini.
            </li>
          </ul>
          <span
            class="absolute text-sm text-dark-base/75 -top-5 left-2 whitespace-nowrap"
            >Penugasan Pertama</span
          >
          <img
            src="/images/butterfly-parts/telur.png"
            alt="Telur"
            class="md:hidden absolute -top-8 -right-6 w-16"
          />
        </div>
      </div>
    </div>
  </div>
</section>
