---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  class="text-slate-900 text-sm hover:text-yellow-base hover:font-medium transition-all duration-300 inline-block"
>
  <slot />
</a>
