---
import FooterLink from "./FooterLink.astro";
import FooterSocialMedia from "./FooterSocialMedia.astro";
---

<footer
  id="footer"
  class="bg-dark-base text-white-base section-padding-x pt-8 md:pt-12 pb-8 font-sans"
>
  <div class="container">
    <div class="flex flex-wrap gap-4 md:gap-8 mb-4 md:mb-8">
      <div class="px-4 max-w-md">
        <h2
          class="font-bold mb-2 md:mb-5 font-heading text-yellow-base drop-shadow-[0_0px_1px_rgba(0,0,0,0.1)] stroke-10 stroke-green-base uppercase"
        >
          <span class="text-3xl sm:text-4xl">soedirman</span><span
            class="block text-xl sm:text-2xl text-green-base drop-shadow-[0_0px_1px_rgba(0,0,0,0.1)] stroke-10 stroke-yellow-base"
            >student summit</span
          >
        </h2>
        <p class="text-sm md:text-base">
          Soedirman Student Summit (S3) adalah acara tahunan Universitas Jenderal Soedirman yang menyambut mahasiswa baru, memperkenalkan kehidupan kampus, dan menanamkan nilai-nilai penting bagi pengembangan diri mereka.
        </p>
      </div>
      <div class="px-4 text-sm max-w-md">
        <h3 class="font-semibold text-lg sm:text-xl mb-2 md:mb-5">
          Alternatif Tautan
        </h3>
        <ul class="flex flex-col gap-1 md:gap-2">
          <li>
            <FooterLink href="/">Beranda</FooterLink>
          </li>
          <li>
            <FooterLink href="/tentang-unsoed">Tentang Unsoed</FooterLink>
          </li>
          <li>
            <FooterLink href="/timeline">Timeline</FooterLink>
          </li>
          <li>
            <FooterLink href="/penugasan">Penugasan</FooterLink>
          </li>
          <li>
            <FooterLink href="/faq">FAQ</FooterLink>
          </li>
          <li>
            <FooterLink href="/hubungi-kami">Hubungi Kami</FooterLink>
          </li>
        </ul>
      </div>
      <div class="px-4 text-sm max-w-md">
        <h2 class="font-bold text-lg sm:text-xl font-body mb-2 md:mb-5">
          Social Media
        </h2>
        <div class="flex gap-6 md:gap-8">
          <FooterSocialMedia />
        </div>
      </div>
    </div>
    <div class="pt-4 border-t border-slate-700">
      <p class="font-medium text-xs md:text-sm text-center">
        Copyright &copy;
        <a
          href="https://www.instagram.com/soedirmanstudentsummit"
          class="font-bold hover:text-yellow-base transition-all duration-300 inline-block"
          target="_blank">Soedirman Student Summit</a
        >
        {new Date().getFullYear()}
      </p>
    </div>
  </div>
</footer>
