---
import { ketentuanUmum } from "../../data/dresscode";
---

<article
  class="animate-fade-up animate-once animate-duration-[800ms] animate-delay-200 animate-ease-in-out"
>
  <h2 class="font-heading text-xl md:text-2xl lg:text-3xl mb-2">
    Ketentuan umum pakaian Gensoed
  </h2>
  <ul
    class="pl-4 normal-font-size list-outsite list-disc max-w-2xl lg:max-w-full"
  >
    {ketentuanUmum.map((data) => <li>{data}</li>)}
  </ul>
</article>
