---
import Header from "../components/Header/index.astro";
import Footer from "../components/Footer/Footer.astro";

interface Props {
  title: string;
  addClass?: string;
}

const { title, addClass } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Soedirman Student Summit (S3) adalah acara tahunan Universitas Jenderal Soedirman(Unsoed) yang menyambut mahasiswa baru (Gensoed), memperkenalkan kehidupan kampus, dan menanamkan nilai-nilai penting bagi pengembangan diri mereka."
    />
    <meta
      name="keywords"
      content="Soedirman Student Summit, S3, Unsoed, Gensoed, mahasiswa, mahasiswa baru, maba, kehidupan kampus, pengembangan diri, kuliah, PKKMB, ospek"
    />
    <meta name="robots" content="index, follow" />
    <meta name="google-site-verification" content="_MIx_vjbkk2928F0Nkt8rlChnsrs1YQvbwlk0Q4UlW8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/webp" href="/images/logo-parts/logo.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Soedirman Student Summit (S3)</title>
    <!-- Meta tag for social media share -->
    <meta property="og:title" content="Soedirman Student Summit (S3)" />
    <meta
      property="og:description"
      content="Soedirman Student Summit (S3) adalah acara tahunan Universitas Jenderal Soedirman (Unsoed) yang menyambut mahasiswa baru (Gensoed), memperkenalkan kehidupan kampus, dan menanamkan nilai-nilai penting bagi pengembangan diri mereka."
    />
    <meta property="og:image" content="/images/banner.jpg" />
    <meta
      property="og:url"
      content="https://soedirmanstudentsummit.unsoed.ac.id/"
    />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Soedirman Student Summit (S3)" />
    <meta property="og:locale" content="id_ID" />
    <!-- Shortcut url -->
    <link rel="canonical" href="https://soedirmanstudentsummit.unsoed.ac.id/" />
    <!-- Twitter share optimazation -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Soedirman Student Summit (S3)" />
    <meta
      name="twitter:description"
      content="Soedirman Student Summit (S3) adalah acara tahunan Universitas Jenderal Soedirman (Unsoed) yang menyambut mahasiswa baru (Gensoed), memperkenalkan kehidupan kampus, dan menanamkan nilai-nilai penting bagi pengembangan diri mereka."
    />
    <meta name="twitter:image" content="/images/banner.jpg" />
    <!-- Other tag -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Orelega+One&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class=`overflow-x-hidden bg-white-base ${addClass}`>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  html {
    overflow-x: hidden;
  }

  .section-padding-x {
    @apply px-6 sm:px-8 md:px-12 lg:px-16 xl:px-20;
  }

  .header-font-size {
    @apply text-4xl sm:text-5xl lg:text-6xl;
  }

  .sub-header-font-size {
    @apply text-3xl sm:text-4xl lg:text-5xl;
  }

  .normal-font-size {
    @apply text-sm sm:text-base;
  }

  .small-font-size {
    @apply text-xs sm:text-sm lg:text-base;
  }

  .extra-small-font-size {
    @apply text-xs lg:text-sm;
  }

  .bg-size {
    background-size: 128px;
  }

  @font-face {
    font-family: "Love Craft";
    src: url("/fonts/Love Craft.ttf");
  }
</style>
<script>
  import AOS from "aos";
  import "aos/dist/aos.css";
  document.addEventListener("DOMContentLoaded", function () {
    AOS.init({});
  });
</script>
