---
import Header from "../components/Header/index.astro";
import Footer from "../components/Footer/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="images/logo-parts/logo.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Soedirman Student Summit</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Orelega+One&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
  </head>
  <body class="overflow-x-hidden bg-white-base">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  html {
    overflow-x: hidden;
  }

  .section-padding-x {
    @apply px-6 sm:px-8 md:px-12 lg:px-16 xl:px-20;
  }

  .header-font-size {
    @apply text-4xl sm:text-5xl lg:text-6xl;
  }

  .sub-header-font-size {
    @apply text-3xl sm:text-4xl lg:text-5xl;
  }

  .normal-font-size {
    @apply text-sm sm:text-base;
  }

  .small-font-size {
    @apply text-xs sm:text-sm lg:text-base;
  }

  .extra-small-font-size {
    @apply text-xs lg:text-sm;
  }

  @font-face {
    font-family: "Love Craft";
    src: url("/fonts/Love Craft.ttf");
  }
</style>
