---
const socialMedia = [
  {
    title: "Instagram",
    link: "https://www.instagram.com/soedirmanstudentsummit",
    icon: "<i class='fa-brands fa-instagram'></i>",
  },
  {
    title: "TikTok",
    link: "https://www.tiktok.com/@soedirmanstudentsummit",
    icon: "<i class='fa-brands fa-tiktok'></i>",
  },
  {
    title: "YouTube",
    link: "https://www.youtube.com/@BEMUnsoed",
    icon: "<i class='fa-brands fa-youtube'></i>",
  },
  // {
  //   title: "Twitter",
  //   link: "#",
  //   icon: "<i class='fa-brands fa-instagram'></i>",
  // },
  // {
  //   title: "Line",
  //   link: "#",
  //   icon: "<i class='fa-brands fa-instagram'></i>",
  // },
  // {
  //   title: "Facebook",
  //   link: "#",
  //   icon: "<i class='fa-brands fa-instagram'></i>",
  // },
];
---

<section
  id="reach-us"
  class="pt-24 pb-16 section-padding-x text-dark-base max-w-screen-xl m-auto"
>
  <div class="container">
    <div class="w-full">
      <div class="max-w-xl mx-auto text-center mb-8">
        <h2
          class="font-bold capitalize text-dark text-3xl mb-4 m:text-4xl lg:text-5xl font-heading"
        >
          Ikuti Kami di Sosial Media
        </h2>
        <p class="font-medium text-sm text-secondary md:text-base">
          Jangan lewatkan kabar terbaru dan konten menarik lainnya dari kami!
          Ikuti kami di berbagai platform sosial media untuk tetap terhubung dan
          menjadi yang pertama tahu tentang informasi penting lainnya.
        </p>
      </div>
    </div>
    <div class="w-full px-4 flex flex-wrap justify-center gap-8">
      {
        socialMedia.map((data, index) => (
          <a
            class="text-dark-base text-6xl p-2 rounded-lg space-x-2 hover:text-yellow-base transition-colors duration-300 ease-in-out"
            href={data.link}
            set:html={data.icon}
            target="_blank"
          />
        ))
      }
    </div>
  </div>
</section>
