---
const socialMedia = [
  {
    title: "Instagram",
    link: "#",
    icon: "/social-media-icon/instagram.svg",
  },
  {
    title: "TikTok",
    link: "#",
    icon: "/social-media-icon/tiktok.svg",
  },
  {
    title: "YouTube",
    link: "#",
    icon: "/social-media-icon/youtube.svg",
  },
  {
    title: "Twitter",
    link: "#",
    icon: "/social-media-icon/twitterx.svg",
  },
  {
    title: "Line",
    link: "#",
    icon: "/social-media-icon/line.svg",
  },
  {
    title: "Facebook",
    link: "#",
    icon: "/social-media-icon/facebook.svg",
  },
];
---

<section id="reach-us" class="pt-24 pb-16 text-dark-base max-w-5xl m-auto">
  <div class="container">
    <div class="w-full px-4">
      <div class="max-w-xl mx-auto text-center mb-8">
        <h4 class="font-semibold text-primary mb-2 text-lg font-heading">
          Selalu Update dengan Kami
        </h4>
        <h2
          class="font-bold capitalize text-dark text-3xl mb-4 m:text-4xl lg:text-5xl font-heading"
        >
          Ikuti Kami di Sosial Media
        </h2>
        <p class="font-medium text-sm text-secondary md:text-base">
          Jangan lewatkan kabar terbaru dan konten menarik lainnya dari kami!
          Ikuti kami di berbagai platform sosial media untuk tetap terhubung dan
          menjadi yang pertama tahu tentang informasi penting lainnya.
        </p>
      </div>
    </div>
    <div class="w-full px-4 flex flex-wrap justify-center gap-8">
      {
        socialMedia.map((data, index) => (
          <a
            class=" font-semibold text-white inline-flex items-center space-x-2 rounded"
            href={data.link}
          >
            <img
              class="w-10 md:w-16 text-yellow-base fill-current"
              src={data.icon}
              alt={data.title}
            />
          </a>
        ))
      }
    </div>
  </div>
</section>
