---
const docsImage = [
  "./images/documentations/documentation-1.webp",
  "./images/documentations/documentation-2.webp",
  "./images/documentations/documentation-3.webp",
  "./images/documentations/documentation-4.webp",
  "./images/documentations/documentation-5.webp",
  "./images/documentations/documentation-6.webp",
];
---

<div class="swiper documentation-card">
  <div class="swiper-wrapper">
    {
      docsImage.map((image, index) => (
        <div class="swiper-slide w-[240px] sm:w-[360px] lg:w-[480px]">
          <img src={image} alt="" />
        </div>
      ))
    }
  </div>

  <style>
    .swipper {
      width: 100%;
      padding: 50px 0;
    }

    .swiper-slide {
      position: relative;
      aspect-ratio: 16/10;
      border-radius: 14px;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
      user-select: none;
    }
  </style>

  <script type="module">
    import Swiper from "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs";

    let documentationSwiper = new Swiper(".documentation-card", {
      effect: "coverflow",
      grabCursor: true,
      centeredSlides: true,
      initialSlide: 2,
      speed: 600,
      preventClicks: true,
      slidesPerView: "auto",
      coverflowEffect: {
        rotate: 0,
        stretch: 80,
        depth: 350,
        modifier: 1,
        slideShadows: true,
      },
      on: {
        click(event) {
          documentationSwiper.slideTo(this.clickedIndex);
        },
      },
    });
  </script>
</div>
