---
import DocumentationCard from "./DocumentationCard.astro";
---

<section
  id="know-more"
  class="pt-24 pb-16 section-padding-x text-dark-base max-w-screen-xl m-auto"
>
  <div class="container">
    <div class="w-full">
      <div
        class="max-w-[270px] sm:max-w-xs md:max-w-md m-auto text-center mb-8"
      >
        <img
          class="m-auto"
          src="/images/maskot.png"
          alt="Maskot Soedirman Student Summit"
        />
      </div>
    </div>
    <div class="w-full">
      <div class="max-w-screen-md mx-auto text-center mb-8">
        <h2
          class="font-semibold capitalize text-dark-base header-font-size mb-4 font-heading"
        >
          Mengenal Lebih Dekat dengan S3!
        </h2>
        <p class="normal-font-size text-secondary">
          Soedirman Student Summit (S3) merupakan kegiatan tahunan yang
          diselenggarakan sebagai wadah untuk pengenalan kehidupan perkuliahan
          dan untuk menyambut mahasiswa baru Universitas Jenderal Soedirman.
          Rangkaian kegiatan S3 bertujuan sebagai gerbang awal mahasiswa baru
          untuk mengenal dirinya sendiri dengan mengimplementasikan nilai-nilai
          yang akan dibawakan, serta mengenal lebih jauh tentang Universitas
          Jenderal Soedirman
        </p>
      </div>
    </div>
    <div class="w-full">
      <DocumentationCard />
    </div>
  </div>
</section>
