---
import DocumentationCard from "./DocumentationCard.astro";
---

<section
  id="know-more"
  class="pb-24 md:pt-24 section-padding-x text-white-base bg-cyan-500 bg-[url('/images/elements/perbukitan.webp')] perbukitan-size bg-bottom bg-no-repeat m-auto"
>
  <div class="container max-w-screen-xl">
    <!-- Mascots Description -->
    <div
      class="w-full mb-8 sm:mb-12 text-center flex flex-col max-w-screen-md m-auto"
    >
      <div
        class="flex items-center"
        data-aos="fade-left"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
        data-aos-offset="300"
        data-aos-once="true"
      >
        <div class="w-full lg:w-[768px]">
          <img
            src="/images/mascots/perkenalan-cowok.webp"
            alt="Perkenalan Chibi Maskot S3 Cowok"
            class="inline-block rounded"
          />
        </div>
      </div>
      <div
        class="flex items-center"
        data-aos="fade-right"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
        data-aos-offset="300"
        data-aos-once="true"
      >
        <div class="w-full lg:w-[768px]">
          <img
            src="/images/mascots/perkenalan-cewek.webp"
            alt="Perkenalan Chibi Maskot S3 Cewek"
            class="inline-block rounded"
          />
        </div>
      </div>
    </div>
    <div class="w-full">
      <div
        class="max-w-[270px] sm:max-w-xs md:max-w-md m-auto text-center mb-8"
        class="flex items-center"
        data-aos="fade-down"
        data-aos-duration="800"
        data-aos-delay="200"
        data-aos-easing="ease-in-out"
        data-aos-offset="300"
        data-aos-once="true"
      >
        <img
          class="m-auto"
          src="/images/mascots/chibi-cewek-cowok.webp"
          alt="Maskot Soedirman Student Summit"
        />
      </div>
    </div>
    <!-- Mengenal Lebih Dekat dengan S3 -->
    <div class="w-full">
      <div class="max-w-screen-md mx-auto text-center mb-8">
        <h2
          class="font-semibold capitalize header-font-size mb-4 font-heading p-2 text-dark-base backdrop-blur-sm bg-white-base bg-opacity-25 rounded-md"

          class="flex items-center"
          data-aos="fade-up"
          data-aos-duration="600"
          data-aos-easing="ease-in-out"
          data-aos-offset="200"
          data-aos-once="true"
        >
          Mengenal Lebih Dekat dengan S3!!
        </h2>
        <p
          class="normal-font-size text-secondary text-dark-base backdrop-blur-sm bg-white-base bg-opacity-25 rounded-md"
          class="flex items-center"
          data-aos="fade-up"
          data-aos-duration="600"
          data-aos-delay="100"
          data-aos-easing="ease-in-out"
          data-aos-offset="50"
          data-aos-once="true"
        >
          Soedirman Student Summit (S3) merupakan kegiatan tahunan yang
          diselenggarakan sebagai wadah untuk pengenalan kehidupan perkuliahan
          dan untuk menyambut mahasiswa baru Universitas Jenderal Soedirman.
          Rangkaian kegiatan S3 bertujuan sebagai gerbang awal mahasiswa baru
          untuk mengenal dirinya sendiri dengan mengimplementasikan nilai-nilai
          yang akan dibawakan, serta mengenal lebih jauh tentang Universitas
          Jenderal Soedirman
        </p>
      </div>
    </div>
    <!-- Documentation Photos -->
    <div class="w-full">
      <DocumentationCard />
    </div>
  </div>
</section>

<!-- Fixing Style Background Perbukitan -->
<style>
  .perbukitan-size {
    background-size: 800px;
  }
  @media screen and (min-width: 768px) {
    .perbukitan-size {
      background-size: cover;
    }
  }
</style>
