---
import DocumentationCard from "./DocumentationCard.astro";
---

<section id="know-more" class="pt-24 pb-16 text-dark-base max-w-5xl m-auto">
  <div class="container">
    <div class="w-full px-4">
      <div class="max-w-xl mx-auto text-center mb-16">
        <img
          class="m-auto"
          src="/images/maskot.png"
          alt="Maskot Soedirman Student Summit"
        />
      </div>
    </div>
    <div class="w-full px-4">
      <div class="max-w-xl mx-auto text-center mb-16">
        <h2
          class="font-bold capitalize text-dark text-3xl mb-4 lg:text-4xl font-heading"
        >
          Mengenal Lebih Dekat dengan S3!
        </h2>
        <p class="font-medium text-sm text-secondary">
          Soedirman Student Summit (S3) adalah ospek seru dari Unsoed,
          memperkenalkan mahasiswa baru pada kehidupan kampus. Melalui seminar,
          lokakarya, dan permainan, S3 membantu memahami budaya akademik dan
          nilai-nilai Unsoed. Bergabunglah dan rasakan pengalaman tak terlupakan
          di keluarga besar Unsoed!
        </p>
      </div>
    </div>
    <div class="w-full">
      <DocumentationCard />
    </div>
  </div>
</section>
